.term_header_link:focus {
    color: #495057;
    background-color: #fff;
    border-color: #8bbafe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.term_header {
    font-weight: 700;
}

pre {
    padding-left: 2rem !important;
}

.text-black {
    color: #212529 !important;
}