.post-it-container {
    position: relative;
    margin: 25px;
    width: 10em;
    height: 10em;
    z-index: 1;
    float:left;
  }
  .post-it-container {
    perspective: 1000px;
  }
  .post-it-card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: all 500ms linear;
    text-overflow: clip;
  }
  .post-it-container:hover .post-it-card {
    transform: rotateY(180deg);
    cursor:pointer;
  }
  .face {
    position: absolute;
    width: 100%;
    height: 100%;
    /* backface-visibility: hidden; */
    /* Solution from https://stackoverflow.com/questions/42744573/backface-visibility-not-working-in-safari/45145977 */
    -webkit-perspective: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    visibility:visible;
    backface-visibility: hidden;
    background: #ffc;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  .face.back {
    display: block !important;
    transform: rotateY(180deg);
    box-sizing: border-box;
    font-size:0.7rem;
    text-overflow: clip;
    white-space: inherit;
    overflow: scroll;
  }
  
  div.term {
  color: #151515;
  display: block;
  text-align: center;
  font-size: 0.8rem;
  }
  
  .post-its div.post-it-container:nth-child(1) {
    -o-transform:rotate(-5deg);
    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    position:relative;
    top:-1px;
  }
  .post-its div.post-it-container:nth-child(even) {
    -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    position:relative;
    top:5px;
  }
  .post-its div.post-it-container:nth-child(4n) {
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
  }
  .post-its div.post-it-container:nth-child(7n) {
    -o-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    position:relative;
    top:-10px;
  }