{% extends 'base.html' %}
{% load markdownify static snippet %}

{% block before_container %}
    <section class="jumbotron px-4 py-5" style="border-radius: unset; background-image: url({% static 'website/images/bg-pattern.png' %});">
        <div class="container-xxl">
            <div class="d-flex align-items-center">
                <img src="{% static 'website/images/logo.png' %}" class="img-fluid mr-4" style="max-height:150px;" alt="Graphic that depicts: Digital Humanities Research Institute logotype">
                <div class="text-primary">
                    <h1 class="h2 mb-3">Further Expanding Digital Humanities Communities of Practice</h1>
                    <p style="font-size:1.2rem;">The Digital Humanities Research Institute (DHRI) is an intensive, community-oriented, and foundational approach to learning technical skills in service of humanities teaching and learning. You can read more about the project on <a href="//dhinstitutes.org">our main website</a>.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block main %}
<div class="container-xxl">
    <h1 class="h3 dhri-hero">Ambivalent Insight Lookup</h1>
    <p>It was hard to find one particular insight. Did you mean any of these?</p>
    <ul>
    {% for insight in insights %}
        <li><a href="{% url 'insight:insight' slug=insight.slug %}">{{ insight }}</a></li>
    {% endfor %}
    </ul>
</div>
{% endblock %}

{% block javascript %}
<script>
    // Once document is loaded, show menu.
    document.addEventListener("DOMContentLoaded",function(){ top_menu_collapse().show(); });
</script>
{% endblock %}