{% extends 'base.html' %}
{% load markdownify static glossary_navigation glossary_navigation_secondary %}

{% block extra_head_material %}
  <link rel="stylesheet" href="{% static 'glossary/css/postit.css' %}">
  <link rel="stylesheet" href="{% static 'glossary/css/glossary.css' %}">
{% endblock %}

{% block secondary_menu %}{% glossary_navigation_secondary %}{% endblock %}

{% block main %}
    {% glossary_navigation %}

    <div class="row">
        <div class="col-12 col-xl-8">
            <h2>Terms starting with {{ slug }}</h2>
            <div class="row">
                {% for obj in object_list %}
                    {% include 'glossary/fragments/term-card.html' with xl='col-xl-12' lg='col-lg-12' md='col-md-12' sm='col-sm-12' %}
                {% endfor %}
            </div>
        </div>

        {% if random_items %}
            <div class="col-12 col-xl-4 pt-5 pt-xl-0 mt-5 mt-xl-0 border-top border-xl-none" data-replace-internal-links="true">
                <h3 class="border-bottom pb-2 mb-2">Test your knowledge</h3>
                <p class="lead">Can you define the terms below? Hover over each of them to read a preview of the definitions.</p>
                <div class="post-its row d-inline-flex">
                {% for term in random_items %}
                    {% include 'glossary/fragments/postit.html' %}
                {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block javascript %}
    <script src="{% static 'glossary/js/scroll.css' %}"></script>
{% endblock %}