{% extends 'base.html' %}
{% load markdownify static glossary_navigation glossary_navigation_secondary %}

{% block extra_head_material %}
  <link rel="stylesheet" href="{% static 'glossary/css/postit.css' %}">
  <link rel="stylesheet" href="{% static 'glossary/css/glossary.css' %}">
{% endblock %}

{% block secondary_menu %}{% glossary_navigation_secondary %}{% endblock %}

{% block main %}
<section id="glossary-navigation">
    <div class="container-xxl">
        {% glossary_navigation %}
    </div>
</section>

<section id="term-list" class="pt-5 pt-md-0">
    <div class="container-xxl">
        <h2>Terms starting with {{ slug }}</h2>
        <div class="row">
            {% for obj in object_list %}
                {% include 'glossary/fragments/term-card.html' with xl='col-xl-6' lg='col-lg-6' md='col-md-12' sm='col-sm-12' %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}
    <script src="{% static 'glossary/js/scroll.css' %}"></script>
{% endblock %}