{% extends 'base.html' %}
{% load markdownify static glossary_navigation glossary_navigation_secondary %}


{% block admin_edit %}
    <a class="text-decoration-none dropdown-item admin-link-django" target="_blank" href="{% url 'admin:index' %}">Django admin</a>
    <a class="text-decoration-none dropdown-item admin-link-edit" target="_blank" href="{% url 'admin:glossary_term_change' term.id %}">Edit {{ term.term }}</a>
{% endblock %}


{% block extra_head_material %}
    <link rel="stylesheet" href="{% static 'lesson/css/pygment.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/github.css' %}">
    <link rel="stylesheet" href="{% static 'glossary/css/glossary.css' %}">
{% endblock %}


{% block secondary_menu %}{% glossary_navigation_secondary %}{% endblock %}


{% block main %}
    {% glossary_navigation %}

    <div class="row py-4">

        <div class="col-12 border-bottom mb-2 pb-2">
            <p class="small">&laquo; <a href="{% url 'glossary:letter' back_slug %}">Back to terms starting with {{ back_slug }}</a></p>
        </div>
        <div class="col-12">
            <div class="pt-3">
                <h1>{{ term.term }}</h1>
                <p class="lead">{{ term.explication | markdown | safe }}</p>

                <div class="row py-2">
                    {% if term.readings.all.count %}
                        <div class="col-6">
                            <h3>Readings</h3>
                            {% for reading in term.readings.all %}
                                <div class="p-2 my-3 rounded-lg linked-comment">
                                    <a class="text-decoration-none stretched-link" target="_blank" href="{{ reading.url }}">
                                        <i class="bi bi-link pr-1 text-muted"></i>{{ reading.title }}<!--#285 include 'website/fragments/bootstrap-icon.html' with icon="arrow-up-right-circle" -->
                                    </a>
                                    {% if reading.annotation %}<div class="small"><strong>Annotation:</strong> {{ reading.annotation | as_string | markdown | safe | striptags }}</div>{% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if term.tutorials.all.count %}
                        <div class="col-6">
                            <h3>Tutorials</h3>
                            {% for tutorial in term.tutorials.all %}
                                <div class="p-2 my-3 rounded-lg linked-comment">
                                    <a class="text-decoration-none stretched-link" target="_blank" href="{{ tutorial.url }}">
                                        <i class="bi bi-link pr-1 text-muted"></i>{{ tutorial.label }}<!--#285 include 'website/fragments/bootstrap-icon.html' with icon="arrow-up-right-circle" -->
                                    </a>
                                    {% if tutorial.annotation %}<div class="small"><strong>Annotation:</strong> {{ tutorial.annotation | as_string | markdown | safe | striptags }}</div>{% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                </div>

                {% if lessons_with_term %}
                    <div class="row py-2 border-top">
                        <div class="col-12">
                            <h3>Lessons containing term</h3>
                            <ul>
                            {% for lesson in lessons_with_term.all %}
                                <li><a href="{% url "workshop:lesson" lesson.workshop.slug %}?page={{ lesson.order }}">{{ lesson.title }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}