<div class="d-inline-block d-sm-none ml-4"><strong class="text-muted small"><span class="font-weight-bold">Current viewport:</span> XS</strong></div>
<div class="d-none d-sm-inline-block d-md-none ml-4"><strong class="text-muted small"><span class="font-weight-bold">Current viewport:</span> SM</strong></div>
<div class="d-none d-md-inline-block d-lg-none ml-4"><strong class="text-muted small"><span class="font-weight-bold">Current viewport:</span> MD</strong></div>
<div class="d-none d-lg-inline-block d-xl-none ml-4"><strong class="text-muted small"><span class="font-weight-bold">Current viewport:</span> LG</strong></div>
<div class="d-none d-xl-inline-block ml-4"><strong class="text-muted small"><span class="font-weight-bold">Current viewport:</span> XL</strong></div>