{% load static startswith %}
{% load main_navigation %}

<!doctype html>
<html lang="en">
  <head>
    {% include "website/head.html" %}
    <!-- Extra head material -->
    {% block extra_head_material %}{% endblock %}
  </head>
  <body>

    {% if version|startswith:"0." %}{% include "website/warnings/alpha.html" %}{% endif %}

    {% main_navigation %}

    <div class="nav-scroller shadow-sm zen-hideaway" style="background-color:rgb(61 84 108);">
      <div class="container-xxl d-flex justify-content-between justify-content-end">
        {% if not is_home %}
          <nav class="nav" style="padding-left: 2rem !important;">
            <a class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbarToggleExternal" aria-controls="topNavbarToggleExternal" aria-expanded="false" aria-label="Toggle navigation"></a>
          </nav>
        {% endif %}


        {% block secondary_menu %}{% endblock %}

        <nav class="nav ml-auto">
          {% if request.user.is_authenticated %}
              <a class="d-none d-md-block nav-link text-white dropdown-toggle" href="#" id="UserDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if request.user.first_name and request.user.last_name %}
                  {{ request.user.first_name }} {{ request.user.last_name }}
                {% elif request.user.first_name %}
                  {{ request.user.first_name }}
                {% else %}
                  {{ request.user.username }}
                {% endif %}
              </a>

              <div class="dropdown-menu dropdown-menu-special shadow" aria-labelledby="dropdown">
              {% include 'website/snippets/user-menu.html' %}
                  {% if request.user.is_staff %}
                    <ul class="admin-menu-part">{% block admin_edit %}{% endblock %}</ul>
                      {% include 'website/admin-viewports.html' %}
                  {% endif %}
              </div>
          {% else %}
            {% include 'website/snippets/login-menu.html' %}
          {% endif %}
        </nav>
      </div>
    </div>
    {% include "website/warnings/ie.html" %}
    {% include "website/instructor_requests.html" %}

    <div id="content" class="container-xxl mx-auto py-2">
      {% block header %}{% endblock %}
      {% include "website/messages.html" %}
      {% block hero %}{% endblock %}
      {% block main %}{% endblock %}
    </div>

    <div id="footer" class="container mx-auto">
      <footer class="pt-4 my-5 border-top zen-hideaway">
        {% include 'website/footer.html' %}
      </footer>
    </div>

    {% include 'website/index-elements/logos.html' %}

    {% include "website/bootstrap.html" %}
    <script src="{% static 'website/js/sitewide.js' %}"></script>
    <!-- Page specific Javascript -->{% block javascript %}{% endblock %}
    {% include "website/instructor_requests_toaster.html" %}
  </body>
</html>
