{% load static startswith %}

<!doctype html>
<html lang="en">
  <head>
    {% include "website/head.html" %}
    <!-- Extra head material -->
    {% block extra_head_material %}{% endblock %}
  </head>
  <body {% if version|startswith:"0." %}style="padding-top: 35px !important;"{% endif %}>

    {% if version|startswith:"0." %}{% include "website/warnings/alpha.html" %}{% endif %}

    {% include "website/navbar-2.html" with underline_menu_present=True %}
    {% block secondary_menu %}{% endblock %}
    {% include "website/warnings/ie.html" %}
    {% include "website/instructor_requests.html" %}

    <div id="content" class="container mx-auto py-4">
      <div class="row pb-2">
        {% include "website/messages.html" %}
      </div>

      <div class="row pb-2">
        {% block before_content %}{% endblock %}
      </div>

      {% if request.user.is_staff %}
          <div id="admin" class="zen-hideaway border shadow-sm p-2">
              <strong class="text-muted ml-2 mr-4 small">Admin tools</strong>{% block admin_edit %}{% endblock %}{% include 'website/admin-viewports.html' %}
          </div>
      {% endif %}
      {% block header %}{% endblock %}
      {% include "website/messages.html" %}
      {% block hero %}{% endblock %}
      {% block main %}{% endblock %}
    </div>

    <div id="footer" class="container mx-auto">
      <footer class="pt-4 my-5 border-top zen-hideaway">
        {% include 'website/footer.html' %}
      </footer>
    </div>

    {% include 'website/index-elements/logos.html' %}

    {% include "website/bootstrap.html" %}
    <script src="{% static 'website/js/sitewide.js' %}"></script>
    <!-- Page specific Javascript -->{% block javascript %}{% endblock %}
    {% include "website/instructor_requests_toaster.html" %}
  </body>
</html>
