<div class="d-flex flex-column flex-xl-row align-items-center p-3 px-xl-4 bg-primary {% if underline_menu_present %}{% else %}mb-3 border-bottom shadow{% endif %} text-light">
    <p class="my-0 mb-3 mb-xl-0 mr-xl-auto font-weight-normal no-touch">
        <a href="/" class="text-light text-decoration-none">
            <img src="/static/website/images/logo.png" width="50" height="50" alt="" loading="lazy" class="mr-2">
            <span class="d-none d-md-inline-block"><strong>Curriculum</strong> | DHRI</span>
            <span class="d-inline-block d-md-none"><strong>Curriculum</strong> | DHRI</span>
        </a>
    </p>
    <nav class="my-2 mt-4 my-md-0 mr-md-3 zen-hideaway" id="website-wide-nav">
        <a class="p-2 text-light text-decoration-none" href="/workshops/">Workshops</a>
        <a class="p-2 text-light text-decoration-none" href="/install/">Installations</a>
        <a class="p-2 text-light text-decoration-none" href="/insight/">Insights</a>
        <a class="p-2 text-light text-decoration-none" href="/library/">Library</a>
        <a class="p-2 text-light text-decoration-none" href="/terms/">Terms</a>
        <a class="p-2 text-light text-decoration-none" href="http://www.dhinstitutes.org">Digital Humanities Research Institute</a>
    </nav>
</div>