{% extends 'website/base.html' %}
{% load markdownify %}

{% block admin_edit %}
  <a target="_blank" href="/admin" class="text-decoration-none small">
      {% include 'website/snippets/bootstrap-icon.html' with icon="menu-app-fill" %}<span class="ml-1 mr-4">Django admin</span>
  </a>

  <!-- TODO: Fix this href
  <a href="url 'admin:website_page_change' page.id" class="text-decoration-none small">
    {% include 'website/snippets/bootstrap-icon.html' with icon="pen" %}<span class="ml-1 mr-4">Edit page</span>
  </a>
  -->
{% endblock %}


{% block hero %}
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-left">
    <div id="hero">
      {% include 'website/index-elements/hero.html' %}
    </div><!-- /hero -->
  </div>
{% endblock %}

{% block main %}
  <div class="row">
    <div class="col-12">
      {{ page.text | safe }}
    </div>
  </div>
{% endblock %}