{% extends 'website/base.html' %}
{% load markdownify %}

{% block admin_edit %}
  <a class="text-decoration-none dropdown-item admin-link-django" target="_blank" href="{% url 'admin:index' %}">Django admin</a>
{% endblock %}


{% block hero %}
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-left">
    <div id="hero">
      {% include 'website/index-elements/hero.html' %}
    </div><!-- /hero -->
  </div>
{% endblock %}

{% block main %}
  <div class="row">
    <div class="col-12">
      {{ page.text | safe }}
    </div>
  </div>
{% endblock %}