<div class="row pb-4" style="padding: 1rem 1rem;">
  <div class="col-12">
    <nav aria-label="Lesson navigation">
      <ul class="pagination pagination-sm justify-content-center justify-content-lg-end">
        <span><a id="zen" data-toggle="off" class="mr-4">Zen mode</a></span>
        <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
          <a class="zen-add page-link {% if not page_obj.has_previous %}disabled{% endif %}" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}" tabindex="-1" aria-disabled="true" data-toggle="off">Previous</a>
        </li>
        <li class="page-item">
          <a class="zen-add page-link" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}{% url 'workshop:praxis' slug=workshop.slug %}{% endif %}" data-toggle="off">{% if page_obj.has_next %}Next{% else %}Theory to Practice{% endif %}</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
