<html>
    <body>
        <p><strong>{{ question.label }}</strong></p>
        <form action="{% url 'assessment:test' question.id %}" method="post">
            {% csrf_token %}
            {% for choice in question.answer.all %}
                <input type="{{ question.question_type }}" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.label }}</label><br>
            {% endfor %}
            <input type="submit" value="Submit">
        </form>
        
    </body>
</html>