{% extends 'workshop/base.html' %}
{% load markdownify %}

{% block body %}
  <div class="container">
    <div class="row">
      {% for workshop in workshops %}
        <div class="col-sm-6">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ workshop.name }}</h5>
                {% if workshop.frontmatter.abstract %}
                <p class="card-text">{{ workshop.frontmatter.abstract | markdown | safe }}</p>
                {% endif %}
                <a href="{% url 'workshop:detail' slug=workshop.slug %}" class="btn btn-primary stretched-link">Start</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}