{% load static %}
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Digital Humanities Research Institute - Curriculum Website</title>
<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700" rel="stylesheet">

<link rel="stylesheet" href="{% static 'website/css/bootstrap-v5-alpha-2.min.css' %}">
<link rel="stylesheet" href="{% static 'website/css/bootstrap-style.min.css' %}">
<link rel="stylesheet" href="{% static 'website/css/icons.css' %}">
<link rel="stylesheet" href="{% static 'website/css/main.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

{% include "website/fragments/head/favicons.html" %}

<script type="text/javascript">
    window.LOGIN_URL = "{% url 'login' %}";
    window.REGISTER_URL = "{% url 'register' %}";

    // A CSRF token is required when making post requests in Django
    // To be used for making AJAX requests
    window.CSRF_TOKEN = "{{ csrf_token }}";

    window.workshop = {% if workshop %}"{{ workshop.slug }}"{% else %}undefined{% endif %};
    window.all_workshops_slugs = {
        {% for workshop in all_workshops %}'{{workshop.slug}}': '{% url 'workshop:frontmatter' workshop.slug %}',{% endfor %}
    }
    window.all_installs_slugs = {
        {% for instruction in all_installs %}'{{instruction.slug}}': '{% url 'install:installation' instruction.slug %}',{% endfor %}
    }
    window.all_insights_slugs = {
        {% for insight in all_insights %}'{{insight.slug}}': '{% url 'insight:insight' insight.slug %}',{% endfor %}
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    // How to get csrf token: const csrftoken = getCookie('csrftoken');
</script>
