{% load static startswith %}


<footer class="container-fluid bg-light pt-5 mt-5{% if version|startswith:"0." %} pb-5{% endif %}" style="box-shadow: 0 50vh 0 50vh #ecf0f1;">
    <div class="d-flex flex-column">
        <div class="d-flex flex-column flex-sm-row justify-content-center align-items-sm-end text-center order-last order-sm-first">
            <div class="px-0 px-sm-4 py-3 py-sm-0">
                <a href="http://www.neh.gov/" target="_blank"><img src="{% static 'website/images/logos/neh.png' %}" class="img-fluid" style="max-height: 100px !important;"></a>
            </div>
            <div class="px-5 px-sm-4 py-3 py-sm-0">
                <a href="https://gcdi.commons.gc.cuny.edu/" target="_blank"><img src="{% static 'website/images/logos/gcdi.png' %}" class="img-fluid" style="max-height:100px !important;"></a>
            </div>
            <div class="px-0 px-sm-4 py-3 py-sm-0">
                <a href="http://www.cuny.edu/" target="_blank"><img src="{% static 'website/images/logos/cuny.png' %}" class="img-fluid" style="max-height:100px !important;"></a>
            </div>
            <div class="px-0 px-sm-4 py-3 py-sm-0">
                <a href="http://www.gc.cuny.edu/" target="_blank"><img src="{% static 'website/images/logos/gc.png' %}" class="img-fluid" style="max-height:200px !important;"></a>
            </div>
        </div>

        <!-- NEH language -->
        <div class="d-flex flex-row pt-3 px-4 order-first order-sm-last justify-content-center">
            <div class="funding-text">
                <p>The Digital Humanities Research Institute is funded through a generous grant from the National Endowment for the Humanities and with support from The Graduate Center's Provost's Office.</p>
            </div>
        </div>
    </div>
</footer>