Django==3.0.7
django-admin-sortable==2.2.3
mistune==0.8.4
pygments==2.6.1
Pillow==7.1.2
requests==2.23.0
nameparser==1.0.6
colorama==0.4.3
beautifulsoup4==4.9.1
lxml==4.6.2
django-crispy-forms==1.9.2
crispy-bootstrap5==0.2
six==1.15.0
markdown==3.2.2
PyGithub==1.51
mysqlclient==2.0.1
pyyaml==5.3.1
GitPython==3.1.13