{% extends 'website/base-left-menu.html' %}
{% load markdownify admin_urls lessontags static %}

{% block extra_head_material %}
  <link rel="stylesheet" href="{% static 'glossary/css/postit.css' %}">
{% endblock %}

{% block leftmenu %}
  {% include 'workshop/leftmenu/content.html' %}
{% endblock %}

{% block before_content %}
  {% if not request.user.is_authenticated %}
    <div class="w-100" id="no-login">
      <div class="alert alert-info">Note that you are not logged in. In order to save progress and interact with the workshops, you need to <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">create an account</a>.</div>
    </div>
  {% endif %}
{% endblock %}

{% block header %}
  <!--{% include 'workshop/workshop-wide-elements/navbar.html' %}-->
{% endblock %}


{% block hero %}

  <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-left">

    <div class="d-flex justify-content-end border-bottom mb-3">
    {% if request.user.is_authenticated %}
      <div class="py-2 px-3" id="favorite">
          {% if user_favorited %}
              <strong>Favorite:</strong> <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg" id="remove-favorite" data-url="/learner/favorite/" data-workshop="{{ workshop.slug }}" data-div="favorite">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" style="pointer-events: none;" />
              </svg>
            </a>
          {% else %}
            <strong>Favorite:</strong> <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star" fill="currentColor" xmlns="http://www.w3.org/2000/svg" id="add-favorite" data-url="/learner/favorite/" data-workshop="{{ workshop.slug }}" data-div="favorite">
              <path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" style="pointer-events: none;" />
            </svg>
          {% endif %}
        </div>
      {% endif %}
      <div class="py-2 px-3" id="views">
        <p><strong>Views:</strong> {{ workshop.views }}</p>
      </div>
      <div class="py-2 px-2" id="time_estimated">
        <span class="text-muted small">This workshop is estimated to take {{ frontmatter.estimated_time }} hours to complete.</span>
      </div>
      <div class="py-2 px-3" id="updated">
        <p><strong>Last updated:</strong> {{ workshop.updated }}</p>
      </div>
    </div>
    <div id="hero">
      {% include 'workshop/frontmatter-elements/hero.html' %}
    </div><!-- /hero -->
  </div>

{% endblock %}



{% block admin_edit %}
  <a target="_blank" href="/admin" class="text-decoration-none small">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-menu-app-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M0 1.5A1.5 1.5 0 0 1 1.5 0h2A1.5 1.5 0 0 1 5 1.5v2A1.5 1.5 0 0 1 3.5 5h-2A1.5 1.5 0 0 1 0 3.5v-2zM14 7H2a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1zM2 6a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2H2z"/>
      <path fill-rule="evenodd" d="M15 11H1v-1h14v1zM2 12.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5z"/>
    </svg><span class="ml-1 mr-4">Django admin</span>
  </a>

  <a href="{% url 'admin:workshop_frontmatter_change' frontmatter.id  %}" class="text-decoration-none small">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pen" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M5.707 13.707a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391L10.086 2.5a2 2 0 0 1 2.828 0l.586.586a2 2 0 0 1 0 2.828l-7.793 7.793zM3 11l7.793-7.793a1 1 0 0 1 1.414 0l.586.586a1 1 0 0 1 0 1.414L5 13l-3 1 1-3z"/>
      <path fill-rule="evenodd" d="M9.854 2.56a.5.5 0 0 0-.708 0L5.854 5.855a.5.5 0 0 1-.708-.708L8.44 1.854a1.5 1.5 0 0 1 2.122 0l.293.292a.5.5 0 0 1-.707.708l-.293-.293z"/>
      <path d="M13.293 1.207a1 1 0 0 1 1.414 0l.03.03a1 1 0 0 1 .03 1.383L13.5 4 12 2.5l1.293-1.293z"/>
    </svg><span class="ml-1 mr-4">Edit Frontmatter Page</span>
  </a>

  <a target="_blank" href="https://www.github.com/{{ workshop.parent_repo }}/blob/{{ workshop.parent_branch }}/frontmatter.md" class="text-decoration-none small">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-code" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path d="M4 1h5v1H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6h1v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2z"/>
      <path d="M9 4.5V1l5 5h-3.5A1.5 1.5 0 0 1 9 4.5z"/>
      <path fill-rule="evenodd" d="M8.646 6.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 9 8.646 7.354a.5.5 0 0 1 0-.708zm-1.292 0a.5.5 0 0 0-.708 0l-2 2a.5.5 0 0 0 0 .708l2 2a.5.5 0 0 0 .708-.708L5.707 9l1.647-1.646a.5.5 0 0 0 0-.708z"/>
    </svg><span class="ml-1">See on GitHub</span>
  </a>
{% endblock %}


{% block main %}

  {% if current_authors %}
    <div class="row">
      <div class="col-12">
        <h3>Meet the author{% if current_authors.count > 1 %}s{% endif %}</h3>
      </div>
    {% for c in current_authors %}
          <div class="col-sm-3"><!--left col-->
              <div class="text-center">
                  <img src="{{ c.contributor.profile.image.url }}" class="avatar img-circle img-thumbnail" alt="avatar">
              </div>
          </div>
          <div class="col-sm-9">
              <h4 class="account-heading">{{ c.contributor }}</h4>
              <p class="text-secondary">{{ c.contributor.profile.user.email }}</p>
              {% if c.contributor.profile.bio %}<p>{{ c.contributor.profile.bio }}</p>{% endif %}
              {% if c.contributor.profile.links.count %}
                <p><strong class="mr-2">Personal links</strong>{% for link in c.contributor.profile.personal_links.all %}<a href="{{ link.url }}" class="badge bg-light text-dark mr-1" target="_blank">{{ link.label }}</a>{% endfor %}</p>
                <p><strong class="mr-2">Projects I have worked on</strong>{% for link in c.contributor.profile.project_links.all %}<a href="{{ link.url }}" class="badge bg-light text-dark mr-1" target="_blank">{{ link.label }}</a>{% endfor %}</p>
              {% endif %}
          </div>
    {% endfor %}
    </div>
  {% endif %}

  {% if blurbs %}
    <div class="row mt-5">
      {% for blurb in blurbs %}
        <div class="col-12">
          <h4>Meet your instructor</h4>
          <p class="lead">{{ blurb.text | safe }}</p>
          {% if blurb.user.first_name and blurb.user.last_name %}
            <p>— {{ blurb.user.first_name }} {{ blurb.user.last_name }}</p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if frontmatter.prerequisites.count or frontmatter.resources.count %}
    <div class="row mt-5">

      <div class="col-12 pb-2">
        <h3>Before you start</h3>
        <div class="lead mt-4">
          Here is an introduction to the section "Before you start," and something about what it means.
        </div>
        <hr />
      </div>

      <div class="col-12 col-md-6">
        {% if frontmatter.prerequisites.count %}
        <h4>Prerequisites</h4>
        <p style="font-size:1.05rem;">Here is an introductory paragraph about what a prerequisite means. This should go in the new site model probably.</p>
          {% for prerequisite in frontmatter.prerequisites.all %}
            {{ prerequisite }}
          {% endfor %}
        {% endif %}
      </div>

      <div class="col-12 col-md-6">
        {% if frontmatter.resources.count %}
        <h4>Requirements</h4>
        <p style="font-size:1.05rem;">Here is an introductory paragraph about what a requirement means. This should go in the new site model probably.</p>
          {% for resource in frontmatter.resources.all %}
            {{ resource }}
          {% endfor %}
        {% endif %}
      </div>

    </div>
  {% endif %}

  <div class="row mt-5 rounded-sm">
    <div class="col-12 pb-2">
      <h3>Contexts</h3>
      <div class="lead mt-4">
        Here is an introduction to the section "Contexts," and something about what it means.
      </div>
      <hr />
    </div>
    {% if frontmatter.ethical_considerations.count %}
      <div class="col-12 col-xl-4 mt-4 mt-md-2 overflow-hidden">
        <h4>Ethical considerations</h4>
        <hr />
        <p style="font-size:1.05rem;">Here is an introductory paragraph about what ethical considerations mean. It might contain <a href="/library/">a link</a> to more information about why we include information about ethics on this level of the website.</p>
        {% for label in frontmatter.ethical_considerations.all %}
          {{ label | as_string | markdown | safe }}
        {% endfor %}
      </div>
    {% endif %}

    {% if frontmatter.readings.count %}
      <div class="col-12 col-xl-4 mt-4 mt-md-2 overflow-hidden">
        <h4>Readings before you get started</h4>
        <hr />
        <p style="font-size:1.05rem;">Here is an introductory paragraph about what the following readings are. It might contain <a href="/library/">a link</a> to our "library" for the curriculum website, which can contain all kinds of information.</p>
        {% for reading in frontmatter.readings.all %}
          <div class="p-2 my-3 rounded-lg linked-comment">
            <a class="text-decoration-none" target="_blank" href="{{ reading.url }}">
              {{ reading.title }}
              <svg class="ml-2 bi bi-arrow-up-right-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/> <path fill-rule="evenodd" d="M10.5 5h-4a.5.5 0 0 0 0 1h2.793l-4.147 4.146a.5.5 0 0 0 .708.708L10 6.707V9.5a.5.5 0 0 0 1 0v-4a.5.5 0 0 0-.5-.5z"/> </svg>
            </a>
            {% if reading.annotation %}<div class="small"><strong>Annotation:</strong> {{ reading.annotation | as_string | markdown | safe | striptags }}</div>{% endif %}
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if frontmatter.projects.count %}
      <div class="col-12 col-xl-4 mt-4 mt-md-2 overflow-hidden">
        <h4>Projects related to {{ workshop.name }}</h4>
        <hr />
        <p style="font-size:1.05rem;">Here is an introductory paragraph about what the following projects are and why they are listed here. It might contain <a href="/library/">a link</a> to our "library" for the curriculum website, which can contain all kinds of information.</p>
        {% for project in frontmatter.projects.all %}
          <div class="p-2 my-3 rounded-lg linked-comment">
            {% if project.url != None %}
              <a class="text-decoration-none" target="_blank" href="{{ project.url }}">
                {{ project.title }}
                <svg class="ml-2 bi bi-arrow-up-right-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/> <path fill-rule="evenodd" d="M10.5 5h-4a.5.5 0 0 0 0 1h2.793l-4.147 4.146a.5.5 0 0 0 .708.708L10 6.707V9.5a.5.5 0 0 0 1 0v-4a.5.5 0 0 0-.5-.5z"/> </svg>
              </a>
            {% endif %}
            {% if project.annotation %}
              <div class="small"><strong>Annotation:</strong> {{ project.annotation | as_string | markdown | safe | striptags }}</div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>

  {% if past_authors or current_reviewers or past_reviewers or current_editors or past_editors %}
    <div class="row my-3 bg-super-light rounded-lg">
      {% if past_authors %}
        <div class="col-12 col-lg-4">
          <div class="border-bottom py-1 my-3"><h4>Contributing Authors</h4></div>
          <div class="py-1 my-1"><h6>Past</h6></div>
          {% for c in past_authors %}
            {% include 'workshop/frontmatter-elements/collaborator_row.html' %}
          {% endfor %}
        </div>
      {% endif %}

      {% if current_reviewers or past_reviewers %}
        <div class="col-12 col-lg-4">
          <div class="border-bottom py-1 my-3"><h4>Reviewers</h4></div>
          {% if current_reviewers %}
            <div class="py-1 my-1"><h6>Current</h6></div>
            {% for c in current_reviewers %}
              {% include 'workshop/frontmatter-elements/collaborator_row.html' %}
            {% endfor %}
          {% endif %}
          {% if past_reviewers %}
            <div class="py-1 my-1"><h6>Past</h6></div>
            {% for c in past_reviewers %}
              {% include 'workshop/frontmatter-elements/collaborator_row.html' %}
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}

      {% if current_editors or past_editors %}
        <div class="col-12 col-lg-4">
          <div class="border-bottom py-1 my-3"><h4>Editors</h4></div>
          {% if current_editors %}
            <div class="py-1 my-1"><h6>Current</h6></div>
            {% for c in current_editors %}
              {% include 'workshop/frontmatter-elements/collaborator_row.html' %}
            {% endfor %}
          {% endif %}
          {% if past_editors %}
            <div class="py-1 my-1"><h6>Past</h6></div>
            {% for c in past_editors %}
              {% include 'workshop/frontmatter-elements/collaborator_row.html' %}
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}

    </div>
  {% endif %}
{% endblock %}


{% block javascript %}
  <script src="{% static 'workshop/js/navbar.js' %}" crossorigin="anonymous"></script>
  <script src="{% static 'workshop/js/favorite.js' %}" crossorigin="anonymous"></script>
{% endblock %}