{% extends 'website/base-left-menu.html' %}
{% load markdownify admin_urls lessontags static %}

{% block leftmenu %}
  {% include 'workshop/leftmenu/content.html' %}
{% endblock %}

{% block header %}

  {% if not request.user.is_authenticated %}
    <div class="py-2" id="no-login">
      <div class="alert alert-info">Note that you are not logged in. In order to save progress and interact with the workshops, you need to <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">create an account</a>.</div>
    </div>
  {% endif %}

  <!--{% include 'workshop/workshop-wide-elements/navbar.html' %}-->
{% endblock %}


{% block hero %}

  <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-left">

    <div class="d-flex justify-content-end border-bottom mb-3">
    {% if request.user.is_authenticated %}
      <div class="py-2 px-3" id="favorite">
          {% if user_favorited %}
              <strong>Favorite:</strong> <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg" id="remove-favorite" data-url="/learner/favorite/" data-workshop="{{ workshop.slug }}" data-div="favorite">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" style="pointer-events: none;" />
              </svg>
            </a>
          {% else %}
            <strong>Favorite:</strong> <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star" fill="currentColor" xmlns="http://www.w3.org/2000/svg" id="add-favorite" data-url="/learner/favorite/" data-workshop="{{ workshop.slug }}" data-div="favorite">
              <path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" style="pointer-events: none;" />
            </svg>
          {% endif %}
        </div>
      {% endif %}
      <div class="py-2 px-3" id="views">
        <p><strong>Views:</strong> {{ workshop.views }}</p>
      </div>
      <div class="py-2 px-2" id="time_estimated">
        <span class="text-muted small">This workshop is estimated to take {{ frontmatter.estimated_time }} hours to complete.</span>
      </div>
    </div>
    <div id="hero">
      {% include 'workshop/frontmatter-elements/hero.html' %}
    </div><!-- /hero -->
  </div>

{% endblock %}



{% block admin_edit %}
  <a target="_blank" href="/admin" class="text-decoration-none small">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-menu-app-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M0 1.5A1.5 1.5 0 0 1 1.5 0h2A1.5 1.5 0 0 1 5 1.5v2A1.5 1.5 0 0 1 3.5 5h-2A1.5 1.5 0 0 1 0 3.5v-2zM14 7H2a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1zM2 6a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2H2z"/>
      <path fill-rule="evenodd" d="M15 11H1v-1h14v1zM2 12.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5z"/>
    </svg><span class="ml-1 mr-4">Django admin</span>
  </a>

  <a href="{% url 'admin:workshop_frontmatter_change' frontmatter.id  %}" class="text-decoration-none small">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pen" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M5.707 13.707a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391L10.086 2.5a2 2 0 0 1 2.828 0l.586.586a2 2 0 0 1 0 2.828l-7.793 7.793zM3 11l7.793-7.793a1 1 0 0 1 1.414 0l.586.586a1 1 0 0 1 0 1.414L5 13l-3 1 1-3z"/>
      <path fill-rule="evenodd" d="M9.854 2.56a.5.5 0 0 0-.708 0L5.854 5.855a.5.5 0 0 1-.708-.708L8.44 1.854a1.5 1.5 0 0 1 2.122 0l.293.292a.5.5 0 0 1-.707.708l-.293-.293z"/>
      <path d="M13.293 1.207a1 1 0 0 1 1.414 0l.03.03a1 1 0 0 1 .03 1.383L13.5 4 12 2.5l1.293-1.293z"/>
    </svg><span class="ml-1 mr-4">Edit Frontmatter Page</span>
  </a>

  <a target="_blank" href="https://www.github.com/{{ workshop.parent_repo }}/blob/{{ workshop.parent_branch }}/frontmatter.md" class="text-decoration-none small">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-code" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path d="M4 1h5v1H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6h1v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2z"/>
      <path d="M9 4.5V1l5 5h-3.5A1.5 1.5 0 0 1 9 4.5z"/>
      <path fill-rule="evenodd" d="M8.646 6.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 9 8.646 7.354a.5.5 0 0 1 0-.708zm-1.292 0a.5.5 0 0 0-.708 0l-2 2a.5.5 0 0 0 0 .708l2 2a.5.5 0 0 0 .708-.708L5.707 9l1.647-1.646a.5.5 0 0 0 0-.708z"/>
    </svg><span class="ml-1">See on GitHub</span>
  </a>
{% endblock %}


{% block main %}

  {% if frontmatter.prerequisites.count or frontmatter.resources.count %}
    <div class="row pt-5">

      <div class="col-12 pb-2">
        <h3>Before you start</h3>
        <div class="lead mt-4">
          Here is an introduction to the section "Before you start," and something about what it means.
        </div>
        <hr />
      </div>

      <div class="col-6">
        {% if frontmatter.prerequisites.count %}
        <h4>Prerequisites</h4>
        <p style="font-size:1.05rem;">Here is an introductory paragraph about what a prerequisite means. This should go in the new site model probably.</p>
          {% for prerequisite in frontmatter.prerequisites.all %}
            {{ prerequisite }}
          {% endfor %}
        {% endif %}
      </div>

      <div class="col-6">
        {% if frontmatter.resources.count %}
        <h4>Requirements</h4>
        <p style="font-size:1.05rem;">Here is an introductory paragraph about what a requirement means. This should go in the new site model probably.</p>
          {% for resource in frontmatter.resources.all %}
            {{ resource }}
          {% endfor %}
        {% endif %}
      </div>

    </div>
  {% endif %}

  <div class="row pt-5 rounded-sm">
    <div class="col-12 pb-2">
      <h3>Contexts</h3>
      <div class="lead mt-4">
        Here is an introduction to the section "Contexts," and something about what it means.
      </div>
      <hr />
    </div>
    {% if frontmatter.ethical_considerations.count %}
      <div class="col-12 col-sm-4 mt-4 mt-md-2 overflow-hidden">
        <h4>Ethical considerations</h4>
        <hr />
        <p style="font-size:1.05rem;">Here is an introductory paragraph about what ethical considerations mean. It might contain <a href="/library/">a link</a> to more information about why we include information about ethics on this level of the website.</p>
        {% for label in frontmatter.ethical_considerations.all %}
          {{ label | as_string | markdown | safe }}
        {% endfor %}
      </div>
    {% endif %}

    {% if frontmatter.readings.count %}
      <div class="col-12 col-sm-4 mt-4 mt-md-2 overflow-hidden">
        <h4>Readings before you get started</h4>
        <hr />
        <p style="font-size:1.05rem;">Here is an introductory paragraph about what the following readings are. It might contain <a href="/library/">a link</a> to our "library" for the curriculum website, which can contain all kinds of information.</p>
        {% for reading in frontmatter.readings.all %}
          <div class="p-2 my-3 rounded-lg linked-comment">
            <a class="text-decoration-none" target="_blank" href="{{ reading.url }}">
              {{ reading.title }}
              <svg class="ml-2 bi bi-arrow-up-right-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/> <path fill-rule="evenodd" d="M10.5 5h-4a.5.5 0 0 0 0 1h2.793l-4.147 4.146a.5.5 0 0 0 .708.708L10 6.707V9.5a.5.5 0 0 0 1 0v-4a.5.5 0 0 0-.5-.5z"/> </svg>
            </a>
            {% if reading.annotation %}<div class="small"><strong>Annotation:</strong> {{ reading.annotation | as_string | markdown | safe | striptags }}</div>{% endif %}
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if frontmatter.projects.count %}
      <div class="col-12 col-sm-4 mt-4 mt-md-2 overflow-hidden">
        <h4>Projects related to {{ workshop.name }}</h4>
        <hr />
        <p style="font-size:1.05rem;">Here is an introductory paragraph about what the following projects are and why they are listed here. It might contain <a href="/library/">a link</a> to our "library" for the curriculum website, which can contain all kinds of information.</p>
        {% for project in frontmatter.projects.all %}
          <div class="p-2 my-3 rounded-lg linked-comment">
            <a class="text-decoration-none" target="_blank" href="{{ project.url }}">
              {{ project.title }}
              <svg class="ml-2 bi bi-arrow-up-right-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/> <path fill-rule="evenodd" d="M10.5 5h-4a.5.5 0 0 0 0 1h2.793l-4.147 4.146a.5.5 0 0 0 .708.708L10 6.707V9.5a.5.5 0 0 0 1 0v-4a.5.5 0 0 0-.5-.5z"/> </svg>
            </a>
            {% if project.annotation %}<div class="small"><strong>Annotation:</strong> {{ project.annotation | as_string | markdown | safe | striptags }}</div>{% endif %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>

  <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-left">

  </div>

  <div id="dashboard" class="row justify-content-center small bg-super-light py-2 rounded-lg">

    <div id="github" class="py-2 col-12 col-sm-2">
      <h6>
        <a target="_blank" href="http://www.github.com/{{ workshop.parent_repo }}/tree/{{ workshop.parent_branch }}" class="text-decoration-none">
        <svg class="bi bi-server" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"> <path d="M13 2c0-1.105-2.239-2-5-2S3 .895 3 2s2.239 2 5 2 5-.895 5-2z"/> <path d="M13 3.75c-.322.24-.698.435-1.093.593C10.857 4.763 9.475 5 8 5s-2.857-.237-3.907-.657A4.881 4.881 0 0 1 3 3.75V6c0 1.105 2.239 2 5 2s5-.895 5-2V3.75z"/> <path d="M13 7.75c-.322.24-.698.435-1.093.593C10.857 8.763 9.475 9 8 9s-2.857-.237-3.907-.657A4.881 4.881 0 0 1 3 7.75V10c0 1.105 2.239 2 5 2s5-.895 5-2V7.75z"/> <path d="M13 11.75c-.322.24-.698.435-1.093.593-1.05.42-2.432.657-3.907.657s-2.857-.237-3.907-.657A4.883 4.883 0 0 1 3 11.75V14c0 1.105 2.239 2 5 2s5-.895 5-2v-2.25z"/> </svg>
        <span class="pl-1">GitHub</span>
        </a>
      </h6>
    </div>

    <div id="updated" class="py-2 col-12 col-sm-3">
      <h6>
        Last updated
      </h6>
      <span class="font-weight-bolder">
        <span class="badge badge-dark text-light lead">{{ workshop.updated }}</span>
      </span>
    </div>

    <div id="contributors" class="py-2 col-12 col-sm-3">
      <h6>
        <svg class="bi bi-people-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/> </svg>
        <span class="pl-1">All collaborators</span>
      </h6>
      <ul>
        {% for contributor in frontmatter.contributors.all %}
          <li>{% if contributor.url %}<a href="{{ contributor.url }}" target="_blank">{% endif %}{{ contributor.full_name }}{% if contributor.role %} ({{ contributor.role }}){% endif %}{% if contributor.url %}</a>{% endif %}</li>
        {% endfor %}
      </ul>

    </div>

  </div><!-- /dashboard -->
{% endblock %}


{% block javascript %}
  <script src="{% static 'workshop/js/navbar.js' %}" crossorigin="anonymous"></script>
  <script src="{% static 'workshop/js/favorite.js' %}" crossorigin="anonymous"></script>
{% endblock %}