{% extends 'website/base.html' %}
{% load markdownify admin_urls lessontags static %}

{% block header %}
    {% include 'workshop/workshop-wide-elements/navbar.html' %}
{% endblock %}

{% block hero %}
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-left">
  <div id="hero">
    {% include 'workshop/praxis-elements/hero.html' %}
    <div class="lead mt-4">
      {{ praxis.intro | markdown | safe }}
    </div>
  </div><!-- /hero -->
</div>
{% endblock %}



{% block admin_edit %}
  <a target="_blank" href="/admin" class="text-decoration-none small">
      {% include 'website/snippets/bootstrap-icon.html' with icon="menu-app-fill" %}<span class="ml-1 mr-4">Django admin</span>
  </a>

  <a href="{% url 'admin:workshop_praxis_change' praxis.id  %}" class="text-decoration-none small">
      {% include 'website/snippets/bootstrap-icon.html' with icon="pen" %}<span class="ml-1 mr-4">Edit Theory to Practice Page</span>
  </a>

  <a target="_blank" href="https://www.github.com/{{ workshop.parent_repo }}/blob/{{ workshop.parent_branch }}/theory-to-practice.md" class="text-decoration-none small">
      {% include 'website/snippets/bootstrap-icon.html' with icon="file-earmark-code" %}<span class="ml-1">See on GitHub</span>
  </a>
{% endblock %}


{% block main %}

<div class="row pt-5">

  {% if praxis.next_steps.count %}
    <div class="col-12 mt-5">
      <h3>Next Steps</h3>
      <hr />
      {% for x in praxis.next_steps.all %}
        <div class="lead mt-4">
          {{ x.label | markdown | safe }}
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if praxis.discussion_questions.count %}
    <div class="col-12 mt-5">
      <h3>Discussion Questions</h3>
      <hr />
      {% for x in praxis.discussion_questions.all %}
        <div class="lead mt-4">
          {{ x.label | markdown | safe }}
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if praxis.tutorials.count %}
  <div class="col-12 mt-5">
    <h3>Tutorials</h3>
    <hr />
    <div class="lead mt-4">
      {% for tutorial in praxis.tutorials.all %}
        <div class="p-2 my-3 rounded-lg linked-comment">
          {% if tutorial.title %}<p class="font-weight-bold"><a href="{{ tutorial.url }}">{{ tutorial.title }}</a></p>{% endif %}
          {% if tutorial.annotation %}
            <p class="small">{{ tutorial.annotation | stringformat:"s" | markdown | safe }}</p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  {% if praxis.further_readings.count %}
  <div class="col-12 mt-5">
    <h3>Further Readings</h3>
    <hr />
    <div class="lead mt-4">
      {% for reading in praxis.further_readings.all %}
        <div class="p-2 my-3 rounded-lg linked-comment">
          {% if reading.title %}<p class="font-weight-bold"><a href="{{ reading.url }}">{{ reading.title }}</a></p>{% endif %}
          {% if reading.annotation %}
            <p class="small">{{ reading.annotation | stringformat:"s" | markdown | safe }}</p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  {% if praxis.more_projects.count %}
  <div class="col-12 mt-5">
    <h3>More Projects</h3>
    <hr />
    <div class="lead mt-4">
      {% for project in praxis.more_projects.all %}
        <div class="p-2 my-3 rounded-lg linked-comment">
          <p class="font-weight-bold"><a href="{{ project.url }}">{{ project }}</a></p>
          {% if project.annotation %}
            <p class="small">{{ project.annotation | stringformat:"s" | markdown | safe }}</p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  {% if praxis.more_resources.count %}
  <div class="col-12 mt-5">
    <h3>More Resources</h3>
    <hr />
    <div class="lead mt-4">
      {% for resource in praxis.more_resources.all %}
        <div class="p-2 my-3 rounded-lg linked-comment">
          <p class="font-weight-bold"><a href="{{ resource.url }}">{{ resource }}</a></p>
          {% if resource.annotation %}
            <p class="small">{{ resource.annotation | stringformat:"s" | markdown | safe }}</p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

</div>


{% endblock %}


{% block javascript %}
  <script src="{% static 'workshop/js/navbar.js' %}" crossorigin="anonymous"></script>
{% endblock %}