{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% include "website/head.html" %}
    <!-- Extra head material -->
    {% block extra_head_material %}{% endblock %}
  </head>
  <body>
    {% include "website/navbar-simple.html" %}
    {% include "website/ie_warning.html" %}

    <div id="content" class="container mx-auto py-4">
      {% include "website/messages.html" %}
      {% block main %}{% endblock %}
    </div>

    {% include "website/bootstrap.html" %}
    <script src="{% static 'website/js/sitewide.js' %}"></script>
    <!-- Page specific Javascript -->{% block javascript %}{% endblock %}
    {% include "website/instructor_requests_toaster.html" %}
  </body>
</html>