{% load static %}
<div class="row">
  <div class="col-12 col-md">
    <a href="/"><img class="mb-2" src="{% static 'images/logo.png' %}" alt="Logo for the Digital Humanities Research Institute" width="125" height="125"></a>
    <small class="d-block mb-3 text-muted"></small>
  </div>
  <div class="col-6 col-md">
    <h5><a class="text-body text-decoration-none" href="/workshops/">Workshops</a></h5>
    <ul class="list-unstyled text-small">
      {% for workshop in website.workshops %}
      <li><a class="link-secondary" href="{% url 'workshop:frontmatter' slug=workshop.slug %}">{{ workshop.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-6 col-md">
    <h5><a class="text-body text-decoration-none" href="/library/">Library</a></h5>
      <!--
        <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">All Tutorials</a></li>
        <li><a class="link-secondary" href="#">All Literature</a></li>
        <li><a class="link-secondary" href="#">Another resource</a></li>
        <li><a class="link-secondary" href="#">Final resource</a></li>
      </ul>
      -->
  </div>
  <div class="col-6 col-md">
    <h5><a class="text-body text-decoration-none" href="/about/">About</a></h5>
    <ul class="list-unstyled text-small">
      <li><a class="link-secondary" href="#">Team</a></li>
      <li><a class="link-secondary" href="#">XYZ</a></li>
    </ul>
  </div>
</div>