{% load markdownify %}

<!--<h3><a href="/" class="dhri-hero text-decoration-none">Digital Humanities Research Institute Curriculum Website</a></h3>-->
{% if workshop.image %}
    <img src="/{{ workshop.image }}" class="img-fluid" alt="{{ workshop.name }}">
{% else%}
    <h2>{{ workshop.name }}</h2>
{% endif %}
<div class="lead mt-4">
    {{ workshop.frontmatter.abstract | markdown | safe }}
</div>


{% if frontmatter.learning_objectives or num_terms > 0 %}
    <div class="my-5">
        <hr class="pt-1" />
        <h3>In this workshop, you will learn...</h3>
        {% if frontmatter.learning_objectives %}
            <h4 class="mt-2">Learning Objectives</h4>
            <ul>
                {% for objective in learning_objectives %}
                    <li>{{ objective | safe }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if num_terms > 0 %}
            <h4 class="mt-4">Terms</h4>
            <div class="lead mt-2">These are the glossary terms that you will learn how to define in this workshop.</div>
            <div class="post-its row" id="moreTerms">
            {% for term in all_terms|slice:6 %}
                {% include 'glossary/snippets/postit.html' %}
            {% endfor %}
            </div>
            {% if num_terms > 6 %}
                <div id="moreBtn" class="d-flex p-2 justify-content-center align-items-center">
                    <a class="btn btn-sm btn-outline-primary p-2 btn btn-outline-primary d-inline-flex justify-content-center align-items-center" type="button" data-target="#moreTerms" aria-expanded="false" aria-controls="moreTerms"><svg width="1em" height="1em" viewBox="0 0 16 16" class="mr-1 bi bi-plus-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"></path></svg> {{ num_terms }} terms</a>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endif %}


<div class="d-flex align-items-end flex-column">
    <a href="{% url 'workshop:frontmatter' workshop.slug %}lessons/" type="button" class="btn btn-success btn-lg text-light">Get started</a>
</div>