{% load markdownify %}

<!--<h3><a href="/" class="dhri-hero text-decoration-none">Digital Humanities Research Institute Curriculum Website</a></h3>-->
<h2>{{ workshop.name }}</h2>
<div class="lead mt-4">
    {{ workshop.frontmatter.abstract | markdown | safe }}
</div>


{% if frontmatter.learning_objectives or num_terms > 0 %}
    <div class="my-5">
        <hr class="pt-1" />
        <h3>In this workshop, you will learn...</h3>
        {% if frontmatter.learning_objectives %}
            <h4>Learning Objectives</h4>
            {% for objective in learning_objectives %}
                <li>{{ objective | safe }}</li>
            {% endfor %}
        {% endif %}
        {% if num_terms > 0 %}
            <h4 class="">Terms</h4>
            <div class="lead mt-4">These are the glossary terms that you will learn how to define in this workshop.</div>
            <div id="post-its" class="d-inline-flex">
            {% for term in all_terms %}
                {% include 'glossary/postit.html' %}
            {% endfor %}
            </div>
        {% endif %}
    </div>
{% endif %}


<div class="d-flex align-items-end flex-column">
    <a href="{% url 'workshop:frontmatter' workshop.slug %}lessons/" type="button" class="btn btn-success btn-lg text-light">Get started</a>
</div>