{% load static %}

<!-- Favicons etc. -->
<link rel="apple-touch-icon" sizes="57x57" href="{% static 'website/touch/apple-touch-icon-57x57.png' %}">
<link rel="apple-touch-icon" sizes="60x60" href="{% static 'website/touch/apple-touch-icon-60x60.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'website/touch/apple-touch-icon-72x72.png' %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'website/touch/apple-touch-icon-76x76.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'website/touch/apple-touch-icon-114x114.png' %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'website/touch/apple-touch-icon-120x120.png' %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% static 'website/touch/apple-touch-icon-144x144.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'website/touch/apple-touch-icon-152x152.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'website/touch/apple-touch-icon-180x180.png' %}">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'website/touch/apple-touch-icon-144-precomposed.png' %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% static 'website/touch/apple-touch-icon-144.png' %}">
<link rel="icon" type="image/png" href="{% static 'website/touch/favicon-16x16.png' %}" sizes="16x16">
<link rel="icon" type="image/png" href="{% static 'website/touch/favicon-32x32.png' %}" sizes="32x32">
<link rel="icon" type="image/png" href="{% static 'website/touch/favicon-96x96.png' %}" sizes="96x96">
<link rel="icon" type="image/png" href="{% static 'website/touch/android-chrome-36x36.png' %}" sizes="36x36">
<link rel="icon" type="image/png" href="{% static 'website/touch/android-chrome-48x48.png' %}" sizes="48x48">
<link rel="icon" type="image/png" href="{% static 'website/touch/android-chrome-72x72.png' %}" sizes="72x72">
<link rel="icon" type="image/png" href="{% static 'website/touch/android-chrome-96x96.png' %}" sizes="96x96">
<link rel="icon" type="image/png" href="{% static 'website/touch/android-chrome-144x144.png' %}" sizes="144x144">
<link rel="icon" type="image/png" href="{% static 'website/touch/android-chrome-192x192.png' %}" sizes="192x192">
<link rel="shortcut icon" href="{% static 'website/touch/favicon.ico' %}">
<meta name="msapplication-TileImage" content=" {% static 'website/touch/mstile-70x70.png' %}">
<meta name="msapplication-TileImage" content=" {% static 'website/touch/mstile-144x144.png' %}">
<meta name="msapplication-TileImage" content=" {% static 'website/touch/mstile-150x150.png' %}">
<meta name="msapplication-TileImage" content=" {% static 'website/touch/mstile-310x310.png' %}">
<meta name="msapplication-config" content="{% static 'website/touch/browserconfig.xml' %}">