{% extends 'website/base.html' %}
{% load markdownify %}
{% load static %}

{% block extra_head_material %}
<style type="text/css">
    /*
    ::-webkit-scrollbar {
        background-color: #F5F5F5;
        width: 7px;
    }
    */
</style>
{% endblock %}



{% block main %}
<div class="row">

    <div class="col-12">

        <h1>Preview of {{ type }} for {{ workshop.name }}</h1>

        <div class="py-3">
            <a target="_blank" href="https://www.github.com/{{ workshop.parent_repo }}/blob/{{ workshop.parent_branch }}/{{ files | get_item:type }}" class="text-decoration-none">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-code" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 1h5v1H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6h1v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2z"/>
                <path d="M9 4.5V1l5 5h-3.5A1.5 1.5 0 0 1 9 4.5z"/>
                <path fill-rule="evenodd" d="M8.646 6.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 9 8.646 7.354a.5.5 0 0 1 0-.708zm-1.292 0a.5.5 0 0 0-.708 0l-2 2a.5.5 0 0 0 0 .708l2 2a.5.5 0 0 0 .708-.708L5.707 9l1.647-1.646a.5.5 0 0 0 0-.708z"/>
                </svg><span class="ml-1">See on GitHub</span>
            </a>
        </div>

        <div class="row g-3 py-4">
            <h2 class="text-muted">Preview markdown</h2>
            <hr />
            <div class="col-12 py-2 shadow lesson-text overflow-auto border" style="max-height:500px;min-height:500px;">
                {{ markdown_text | nl2br | safe }}
            </div>
        </div>

        <div class="row g-3 py-4">
            <h2 class="text-muted">Preview parsed data</h2>
            <div class="col-12 shadow overflow-auto border" style="max-height:500px;min-height:500px;">
                {% if type == 'frontmatter' or type == 'praxis' %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="border-top-0">key</th>
                                <th scope="col" class="border-top-0">value</th>
                                <th scope="col" class="border-top-0">value (rendered)</th>
                                <th scope="col" class="border-top-0">type</th>
                            </tr>
                        </thead>
                        {% for key, value in sections.items %}
                            <tr>
                                <th scope="row">{{ key }}:</td>
                                <td>{{ value }}</td>
                                {% if sections|is_list:key %}
                                    <td>
                                        <ul>
                                            {% for val in value %}
                                                <li>{{ val | as_string | markdown | safe }}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                {% else %}
                                    <td>{{ value | as_string | markdown | safe }}</td>
                                {% endif %}
                                <td style="min-width:150px;">{{ sections|get_item_type:key }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% elif type == 'lessons' %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="border-top-0" style="min-width:300px;">title</th>
                                <th scope="col" class="border-top-0">text</th>
                                <th scope="col" class="border-top-0">text (rendered)</th>
                                <th scope="col" class="border-top-0">challenge</th>
                                <th scope="col" class="border-top-0">challenge (rendered)</th>
                                <th scope="col" class="border-top-0">solution</th>
                                <th scope="col" class="border-top-0">solution (rendered)</th>
                            </tr>
                        </thead>
                        {% for key in sections %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}. {{ key|get_item:'title' }}:</td>
                                <td>{{ key|get_item:'text' | nl2br | safe }}</td>
                                <td>{{ key|get_item:'text' | markdown | safe }}</td>
                                <td>{{ key|get_item:'challenge' | nl2br | safe }}</td>
                                <td>{{ key|get_item:'challenge' | markdown | safe }}</td>
                                <td>{{ key|get_item:'solution' | nl2br | safe }}</td>
                                <td>{{ key|get_item:'solution' | markdown | safe }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}

            </div>
        </div>

    </div>
</div>
{% endblock %}