{% extends 'website/base.html' %}
{% load markdownify admin_urls lessontags static crispy_forms_tags install_navigation %}

{% block secondary_menu %}
    {% install_navigation %}
{% endblock %}

{% block main %}
    <div class="row">
      {% regroup object_list by software.software as per_software %}

      {% for group in per_software %}
        {% for instruction in group.list %}
            {% if forloop.first %}
            <div class="col-lg-6 px-3 py-3">
                <div class="card text-center h-100">
                    {% if instruction.image %}
                        <a href="{% url 'install:installation' slug=instruction.slug %}"><img src="/{{ instruction.image }}" class="card-img-top" alt="Install for {{ instruction.software.operating_system }}"></a>
                    {% endif %}
                    <div class="card-body">
                    {% if not workshop.image %}
                        <h5 class="card-title pt-3">{{ group.grouper }}</h5>
                    {% endif %}
                        <p class="card-text">{{ instruction.why | striptags | safe }}</p>
                        <div class="btn-group" role="group" aria-label="install-group{{ software }}">
            {% endif %}
                        <a href="{% url 'install:installation' slug=instruction.slug %}" class="card-link">Install for {{ instruction.software.operating_system }}</a>
            {% if forloop.last %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
{% endblock %}

{% block javascript %}
<script>
    var triggerTabList = [].slice.call(document.querySelectorAll('#leftmenu a'))
    triggerTabList.forEach(function (triggerEl) {
    var tabTrigger = new bootstrap.Tab(triggerEl)

    triggerEl.addEventListener('click', function (e) {
        e.preventDefault()
        tabTrigger.show()
    })
    })
</script>
{% endblock %}