<div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline">
    <a class="nav-link" href="/install/"><strong>Installations</strong></a>

    <!-- <a class="nav-link" href="#">XXX</a> -->

    <a class="nav-link dropdown-toggle" href="#" id="dropdownA" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">By Software</a>
    <div class="dropdown-menu dropdown-menu-special shadow" aria-labelledby="dropdown">

        <!-- <a class="dropdown-item" href="#">Microsoft Visual Studio Code</a> -->

        {% for software, instructions in per_software.items %}
            <div class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">{{ software }}</a>
                <div class="dropdown-menu dropdown-menu-special shadow-sm">
                    {% for instruction in instructions %}
                        <a class="dropdown-item" href="{% url 'install:installation' slug=instruction.slug %}">{{ instruction.software.operating_system }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

    </div>

    <a class="nav-link dropdown-toggle" href="#" id="dropdownA" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">By Operating System</a>
    <div class="dropdown-menu dropdown-menu-special shadow" aria-labelledby="dropdown">

        {% for os, instructions in per_os.items %}
            <div class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">{{ os }}</a>
                <div class="dropdown-menu dropdown-menu-special shadow-sm">
                    {% for instruction in instructions %}
                        <a class="dropdown-item" href="{% url 'install:installation' slug=instruction.slug %}">{{ instruction.software.software }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

    </div>

  </nav>
</div>