{% comment %}

This is the template for the section of "installation boxes" in the main menu at the top of each page.

{% endcomment %}
<div class="collapse pt-0 pb-5 px-4 bg-primary" id="allInstallations">
    <div class="row">
        <!--
        <div class="col-12 my-3">
            <h5 class="text-white h4">Installations</h5>
        </div>
        -->
        {% for software in software %}
            {% include '_main-navbar/fragments/installation.html' with standard_os_slug=standard_os_slug %}
        {% endfor %}
    </div>
</div>