{% load static %}

<nav class="navbar navbar-expand-sm navbar-light bg-primary zen-hideaway flex-sm-column{% if not is_home %} collapse{% endif %}"{% if not is_home %} id="topNavbarToggleExternal"{% endif %}>

    <div class="container-xxl d-none d-md-flex justify-content-between">
        <a class="navbar-brand d-inline-flex flex-row align-items-center" href="{% url 'website:index' %}">
            <img src="{% static 'website/images/logo.png' %}" width="50" height="50" alt="Logotype for Digital Humanities Research Institute">
            <div class="d-inline-flex flex-column">
                <div style="color: #4a6886 !important;" class="ml-3 small d-none d-md-block">Digital Humanities Research Institute</div>
                <div style="color: #4a6886 !important;" class="ml-3 small d-block d-md-none">DHRI</div>
                <div class="text-white ml-3">Curriculum</div>
            </div>
        </a>
        <div class="">
            <div class="ml-auto collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                    <li><a class="d-inline-flex align-items-center p-2 text-light text-decoration-none workshop-button collapsed" style="cursor:pointer;" data-toggle="collapse" data-target="#allWorkshops" aria-controls="allWorkshops" aria-expanded="false" aria-label="Toggle all workshop navigation">Workshops</a></li>
                    <li><a class="d-inline-flex align-items-center p-2 text-light text-decoration-none workshop-button collapsed" style="cursor:pointer;" data-toggle="collapse" data-target="#allInstallations" aria-controls="allInstallations" aria-expanded="false" aria-label="Toggle all installation navigation">Installations</a></li>
                    <li><a class="d-inline-flex align-items-center p-2 text-light text-decoration-none workshop-button collapsed" style="cursor:pointer;" data-toggle="collapse" data-target="#allInsights" aria-controls="allInsights" aria-expanded="false" aria-label="Toggle all installation navigation">Insights</a></li>
                    <li><a class="d-inline-flex align-items-center p-2 text-light text-decoration-none" href="{% url 'library:index' %}">Library</a></li>
                    <li><a class="d-inline-flex align-items-center p-2 text-light text-decoration-none" href="{% url 'glossary:index' %}">Terms</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-xxl d-flex d-md-none align-items-start">
        <a class="navbar-brand" href="{% url 'website:index' %}">
            <img src="{% static 'website/images/logo.png' %}" width="150" height="150" alt="Logotype for Digital Humanities Research Institute">
        </a>
        <div class="">
            <ul class="navbar-nav flex-column">
                {% if request.user.is_authenticated %}<li class="d-inline-flex d-md-none"><a class="d-inline-flex align-items-center p-2 text-light text-decoration-none" href="{% url 'learner:profile' username=request.user.username %}">{{ request.user.username }}</a></li>{% endif %}
                <li><a class="d-inline-flex align-items-center p-2 text-light text-decoration-none" href="{% url 'library:index' %}">Library</a></li>
                <li><a class="d-inline-flex align-items-center p-2 text-light text-decoration-none" href="{% url 'glossary:index' %}">Terms</a></li>
            </ul>
        </div>
    </div>
    <div class="container-xxl d-flex flex-row d-md-none mt-4 border-top pt-2 border-dark">
        <ul class="navbar-nav flex-row">
            <li><a class="d-inline-flex align-items-center p-2 text-light text-decoration-none workshop-button collapsed" style="cursor:pointer;" data-toggle="collapse" data-target="#allWorkshops" aria-controls="allWorkshops" aria-expanded="false" aria-label="Toggle all workshop navigation">Workshops</a></li>
            <li><a class="d-inline-flex align-items-center p-2 text-light text-decoration-none workshop-button collapsed" style="cursor:pointer;" data-toggle="collapse" data-target="#allInstallations" aria-controls="allInstallations" aria-expanded="false" aria-label="Toggle all installation navigation">Installations</a></li>
            <li><a class="d-inline-flex align-items-center p-2 text-light text-decoration-none workshop-button collapsed" style="cursor:pointer;" data-toggle="collapse" data-target="#allInsights" aria-controls="allInsights" aria-expanded="false" aria-label="Toggle all installation navigation">Insights</a></li>
        </ul>
    </div>

</nav>