{% extends 'website/base.html' %}
{% load markdownify %}
{% load lessontags %}
{% load static %}

{% block extra_head_material %}
<link rel="stylesheet" href="{% static 'lesson/css/pygment.css' %}">
{% endblock extra_head_material %}

{% block header %}
  {% include 'workshop/workshop-wide-elements/navbar.html' %}
  <div class="row pb-5 justify-content-end" style="padding: 1rem 1rem;">
    <div class="col-4 text-right">
      {% include 'lesson/lesson-elements/zen-settings.html' %}
    </div>
  </div>
{% endblock %}

{% block hero %}
{% endblock %}


{% block main %}
  <div class="row">

    <div class="col-12 py-3">

      <h2>{{ lesson.title }}</h2>

      <div class="lesson-text py-3">
        {{ lesson.text | transpose_md_headers | markdown | safe }}

        {% if lesson.challenge %}
          <h3 class="pt-4">Challenge{% if lesson.challenge.title %}: {{ lesson.challenge.title }}{% endif %}</h3>
          {{ lesson.challenge.text | transpose_md_headers | markdown | safe }}

          {% if lesson.challenge.solution %}
            <p>
              <button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#solution" aria-expanded="false" aria-controls="solution">
                Show solution
              </button>
            </p>
            <div class="collapse" id="solution">
              <div class="card card-body">
                {{ lesson.challenge.solution.text | transpose_md_headers | markdown | safe }}
                <p>Were you <button class="btn btn-success">right</button> or <button class="btn btn-danger">wrong</button>—let us know!</p>
              </div>
            </div>
          {% endif %}
        {% endif %}

      </div>
    </div>

  </div>

  {% include 'lesson/lesson-elements/pagination.html' %}
  {% include 'lesson/lesson-elements/progress.html' %}

{% endblock %}




{% block javascript %}
<script src="{% static 'lesson/js/zen.js' %}" crossorigin="anonymous"></script>
{% endblock %}
