h1, h2, h3, h4, h5, h6 {
    font-family: 'Titillium Web'
}

.bg-super-light {
    background-color: #f7f7f8 !important;
}

.on-hover-bg-light:hover {
    background-color: #ecf0f1 !important;
}

.nav-dark {
    background-color: #324144 !important;
}

.disabled:hover {
    cursor:not-allowed !important;
}

blockquote {
    padding-left: 1.5rem !important;
}

.linked-comment {
    border-left: 0.5rem solid #ecf0f1 !important;
}

.dhri-hero {
    color: #d1d6d7 !important;
}

.dhri-hero:hover {
    color: #d1d6d7 !important;
}

.uppercase {
    text-transform: uppercase;
}

.lesson-text {
    font-size:calc(1rem + 0.3vw);
    /*font-size:1.2rem;*/
    line-height:2rem;
}

.lesson-text img {
    max-width:100% !important;
    border: 0.01rem solid #ecf0f1 !important;
}

.lesson-text code {
    color: black !important;
    padding-left: 0.15em;
    padding-right: 0.15em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin: 0;
    display: inline-block;
    /* background-color: rgba(255, 255, 0, 0.1) !important; */
}

.lesson-text h2 {
    margin-top:1em;
    font-size:calc(1.325rem + .9vw)
}

.lesson-text h3 {
    margin-top:1em;
    font-size:calc(1.3rem + .6vw)
}

.lesson-text h4 {
    margin-top:1em;
    font-size:calc(1.275rem + .3vw)
}

.lesson-text h5 {
    margin-top:1em;
    font-size:1.25rem;
}

div .codehilite {
    background-color: rgba(17, 45, 45, 0.03);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

div .codehilite pre {
    margin: 0 !important;
}

.lesson-text kbd {
    background-color: rgba(17, 45, 45, 0.529);
}

#zen {
    padding: 0.25rem 0.5rem;
    font-size: 0.8203125rem;
    line-height: 1.5;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.zen-bi {
    pointer-events: none;
}




.page-link{
    position:relative;
    display:block;
    color:#2C3E50 !important;
    text-decoration:none;
    background-color:#fff !important;
    border:1px solid #dee2e6 !important
}
.page-link:hover{
    z-index:2;
    color:#000 !important;
    background-color:#e9ecef !important;
    border-color:#dee2e6 !important
}
.page-link:focus{
    z-index:3;
    outline:0;
    box-shadow:0 0 0 .2rem #2c3e5021 !important
}
.page-item:not(:first-child) .page-link{
    margin-left:-1px
}
.page-item.active .page-link{
    z-index:3;
    color:#fff;
    background-color:#2C3E50 !important;
    border-color:#2C3E50 !important
}
.page-item.disabled .page-link{
    color:#939faa !important;
    pointer-events:none;
    background-color:#fff;
    border-color:#dee2e6 !important
}
.page-link{
    padding:.375rem .75rem
}
.page-item:first-child .page-link{
    border-top-left-radius:.25rem;
    border-bottom-left-radius:.25rem
}
.page-item:last-child .page-link{
    border-top-right-radius:.25rem;
    border-bottom-right-radius:.25rem
}
.pagination-lg .page-link{
    padding:.75rem 1.5rem;
    font-size:1.25rem
}
.pagination-lg .page-item:first-child .page-link{
    border-top-left-radius:.3rem;
    border-bottom-left-radius:.3rem
}
.pagination-lg .page-item:last-child .page-link{
    border-top-right-radius:.3rem;border-bottom-right-radius:.3rem
}
.pagination-sm .page-link{
    padding:.25rem .5rem;font-size:.875rem
}
.pagination-sm .page-item:first-child .page-link{
    border-top-left-radius:.2rem;border-bottom-left-radius:.2rem
}
.pagination-sm .page-item:last-child .page-link{
    border-top-right-radius:.2rem;border-bottom-right-radius:.2rem
}
.page-link.current {
    font-weight: 900;
}

#website-wide-nav > p {
    pointer-events: none;
    padding: 0;
    margin: 0;
}

#website-wide-nav:hover {
    cursor: pointer;
}

#website-wide-nav a {
    text-decoration: none;
}