h1, h2, h3, h4, h5, h6 {
    font-family: 'Titillium Web'
}

.bg-super-light {
    background-color: #f7f7f8 !important;
}

.on-hover-bg-light:hover {
    background-color: #ecf0f1 !important;
}

.nav-dark {
    background-color: #324144 !important;
}

.disabled:hover {
    cursor:not-allowed !important;
}

blockquote {
    padding-left: 1.5rem !important;
}

.linked-comment {
    border-left: 0.5rem solid #ecf0f1 !important;
}

.dhri-hero {
    color: #d1d6d7 !important;
}

.dhri-hero:hover {
    color: #d1d6d7 !important;
}

.special-link {
    background-color: #2C3E50 !important;
}

.special-link:hover {
    background-color: #2c3e5097 !important;
}

.special-link-disabled {
    background-color: #2c3e5097 !important;
}

.uppercase {
    text-transform: uppercase;
}

.lesson-text {
    font-size:1.2rem;
    line-height:2rem;
}

.lesson-text code {
    padding-left: 0.15em;
    padding-right: 0.15em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin: 0;
    display: inline-block;
    background-color: rgba(255, 0, 255, 0.01) !important;
}

.lesson-text kbd {
    background-color: rgba(17, 45, 45, 0.529);
}

#zen {
    padding: 0.25rem 0.5rem;
    font-size: 0.8203125rem;
    line-height: 1.5;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.zen-bi {
    pointer-events: none;
}