{% load markdownify %}

<nav aria-label="Lesson navigation">
  <ul class="pagination pagination-sm justify-content-center justify-content-lg-end zen-hideaway">
    <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
      <a class="zen-add page-link {% if not page_obj.has_previous %}disabled{% endif %}" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}" tabindex="-1" aria-disabled="true" data-toggle="off">Previous</a>
    </li>
    <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
      <a class="zen-add page-link {% if not page_obj.has_next %}disabled{% endif %}" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}" data-toggle="off">Next</a>
    </li>
  </ul>
</nav>