<nav aria-label="Lesson navigation">
  <ul class="pagination justify-content-center justify-content-sm-end">
    <li class="page-item disabled">
      <a class="page-link special-link-disabled" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item">
      <a class="page-link special-link" href="#">1</a></li>
    <li class="page-item">
      <a class="page-link special-link" href="#">2</a></li>
    <li class="page-item">
      <a class="page-link special-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link special-link" href="#">4</a></li>
    <li class="page-item">
      <a class="page-link special-link" href="#">5</a></li>
    <li class="page-item">
      <a class="page-link special-link" href="#">6</a></li>
    <li class="page-item">
      <a class="page-link special-link" href="#">7</a></li>
    <li class="page-item">
      <a class="page-link special-link" href="#">8</a></li>
    <li class="page-item">
      <a class="page-link special-link" href="#">Next</a>
    </li>
  </ul>
</nav>