{% extends 'base.html' %}
{% load markdownify static snippet get_item %}


{% block extra_head_material %}
    <link rel="stylesheet" href="{% static 'website/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'glossary/css/postit.css' %}">
    <link rel="stylesheet" href="{% static 'workshop/css/frontmatter.css' %}">
{% endblock %}


{% block admin_edit %}
    <a class="text-decoration-none dropdown-item admin-link-django" target="_blank" href="{% url 'admin:index' %}">Django admin</a>
    <a class="text-decoration-none dropdown-item admin-link-edit" target="_blank" href="{% url 'admin:workshop_frontmatter_change' frontmatter.id  %}">Edit frontmatter</a>
    <a class="text-decoration-none dropdown-item admin-link-github" target="_blank" href="https://www.github.com/{{ workshop.parent_repo }}/blob/{{ workshop.parent_branch }}/frontmatter.md">See on GitHub</a>
{% endblock %}


{% block before_content %}
    {% if not request.user.is_authenticated %}
        <div class="w-100 py-5">
            <div class="alert alert-info" id="no-login">Note that you are not logged in. In order to save progress and interact with the workshops, you need to <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">create an account</a>.</div>
        </div>
    {% endif %}
{% endblock %}


{% block secondary_menu %}
    {% include 'workshop/fragments/secondary-menu.html' %}
{% endblock %}


{% block main %}

<div class="row">
    <div class="col-12 col-lg-9">
        {% if workshop.image %}
            <img src="{{ workshop.image.url }}" class="img-fluid" alt="{{ workshop.name }}">
        {% else%}
            <h2>{{ workshop.name }}</h2>
        {% endif %}

        <div class="row mt-4 d-lg-none sidebar justify-content-center">
            <div class="col-6 col-md-4">
                {% include 'workshop/fragments/frontmatter/favorite-button.html' %}
            </div>
            <div class="col-6 col-md-4">
                {% include 'workshop/fragments/frontmatter/dashboard.html' with margin='m-0' %}
            </div>
            <div class="col-6">
                {% include 'workshop/fragments/frontmatter/get-started-button.html' with margin='m-0' %}
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12 lead">
                {{ workshop.frontmatter.abstract | markdown | safe }}
            </div>

        </div>

        <h3 class="mt-5 pt-4 pb-4 border-top-double border-bottom">Before you get started</h3>
        <div class="mt-4">
            <div class="lead">{% snippet "introduction-before-you-get-started" %}</div>
            {% if prerequisites.external_links|length %}
              <div class="mt-2">
                  <h4>External Links</h4>
                  <div class="small mb-3 pb-1 border-bottom">{% snippet "prerequisite-external-links" %}</div>
                  {% for prerequisite in prerequisites.external_links %}
                      <div class="p-2 my-3 rounded-lg linked-comment {% if prerequisite.required %}linked-required{% elif prerequisite.recommended %}linked-recommended{% endif %}">
                          <div class="small">
                            <a href="{{ prerequisite.url }}" target="_blank"><strong>{% if prerequisite.label %}{{ prerequisite.label }}{% else %}Link{% endif %}</strong></a>
                            {{ prerequisite.text | as_string | markdown | safe }}
                          </div>
                      </div>
                  {% endfor %}
              </div>
            {% endif %}
        </div>
        <div class="row">
          <div class="col-12 {% if prerequisites.installs.by_software|length or prerequisites.insights|length %}col-xl-4{% elif not prerequisites.installs.by_software|length and not prerequisites.insights|length %}col-xl-12{% else %}{% endif %} mt-4 mt-md-2 overflow-hidden">
              <h4 class="py-2 border-bottom">Workshops</h4>
                  {% if not prerequisites.workshops|length %}
                        <em class="small text-muted">There are no recommended or required workshops for you to complete before starting this workshop.</em>
                  {% else %}
                        <div class="small mb-3">{% snippet "prerequisite-workshops" %}</div>
                        {% for prerequisite in prerequisites.workshops %}
                            <div class="p-2 my-3 rounded-lg linked-comment {% if prerequisite.required %}linked-required{% elif prerequisite.recommended %}linked-recommended{% endif %}">
                                <h6><a href="{% url 'workshop:frontmatter' slug=prerequisite.linked_workshop.slug %}">{{ prerequisite.linked_workshop.name }}</a></h6>
                                <small>{{ prerequisite.text | as_string | markdown | safe }}</small>
                                <a href="{% url 'workshop:frontmatter' prerequisite.linked_workshop.slug %}lessons/" class="prereq-btn btn btn-warning btn-sm shadow-sm">Quickstart</a>
                            </div>
                        {% endfor %}
                  {% endif %}
          </div>
          
          {% if prerequisites.installs.by_software|length %}
              <div class="col-12 {% if prerequisites.insights|length %}col-xl-4{% else %}col-xl-8{% endif %} mt-4 mt-md-2 overflow-hidden">
                  <h4 class="py-2 border-bottom">Software installations</h4>
                  <div class="small mb-3">{% snippet "prerequisite-installs" %}</div>

                  {% for software, d in prerequisites.installs.by_software.items %}
                      <div class="p-2 my-3 rounded-lg linked-comment {% if d.required %}linked-required{% elif d.recommended %}linked-recommended{% endif %}">
                          <h5 class="m-0">{{ software }}{% if d.required %}<span class="badge badge-required text-white ml-1">Required</span>{% elif d.recommended %}<span class="badge badge-recommended text-white ml-1">Recommended</span>{% endif %}</h5>
                          <div class="my-2 small">
                            {% if prerequisite.text %}
                                {{ prerequisite.text }}
                            {% else %}
                                {% for os, instructions in d.instructions.items %}
                                    {% if forloop.first %}{{ instructions.why | as_string | safe }}{% endif %}
                                {% endfor %}
                            {% endif %}
                          </div>
                          <div class="btn-group btn-group-sm" role="group" aria-label="Links to installation of {{ software }} for different operating systems.">
                              {% for os, instructions in d.instructions.items %}
                                  {% if 'macintosh' in request.META.HTTP_USER_AGENT.lower and 'mac' in os.lower %}
                                      <!-- This is a mac and these are MAC instructions...-->
                                      <a href="{% url 'install:installation' slug=instructions.slug %}" class="prereq-btn btn btn-warning shadow-sm">Install for {{ os }}</a>
                                  {% elif 'windows' in request.META.HTTP_USER_AGENT.lower and 'windows' in os.lower %}
                                      <!-- This is a windows machine and these are WINDOWS instructions...-->
                                      <a href="{% url 'install:installation' slug=instructions.slug %}" class="prereq-btn btn btn-warning shadow-sm">Install for {{ os }}</a>
                                  {% else %}
                                      <a href="{% url 'install:installation' slug=instructions.slug %}" class="btn btn-outline-warning text-dark">Install for {{ os }}</a>
                                  {% endif %}
                              {% endfor %}
                          </div>
                      </div>
                  {% endfor %}
                  
              </div>
          {% endif %}
          {% if prerequisites.insights|length %}
              <div class="col-12 col-xl-4 mt-4 mt-md-2 overflow-hidden">
                  <h4 class="py-2 border-bottom">Insights</h4>
                  <div class="small mb-3">{% snippet "prerequisite-insights" %}</div>
                  {% for prerequisite in prerequisites.insights %}
                      <div class="p-2 my-3 rounded-lg linked-comment {% if prerequisite.required %}linked-required{% elif prerequisite.recommended %}linked-recommended{% endif %}">
                          <h6><a href="{% url 'insight:insight' slug=prerequisite.linked_insight.slug %}">{{ prerequisite.linked_insight.title }}</a></h6>
                          <div class="small">
                              {% if prerequisite.text %}
                                  {{ prerequisite.text | as_string | markdown | safe }}
                              {% else %}
                                  {{ prerequisite.linked_insight.text | as_string | safe }}
                              {% endif %}
                          </div>
                      </div>
                  {% endfor %}
              </div>
          {% endif %}
        </div>

        <h3 class="mt-5 pt-4 pb-4 border-top-double border-bottom">Contexts</h3>
        <div class="lead mt-4">
            {% snippet "introduction-context" %}
        </div>

        <div class="row">
            {% if frontmatter.ethical_considerations.count %}
                <div class="col-12 col-xl-4 mt-4 mt-md-2 overflow-hidden">
                    <h4 class="py-2 border-bottom">Ethical considerations</h4>
                    <div class="small mb-3 pb-1 border-bottom">{% snippet "introduction-ethical-considerations" %}</div>
                    {% for label in frontmatter.ethical_considerations.all %}
                        <div class="p-2 my-3 rounded-lg linked-comment">
                            {{ label | as_string | markdown | safe }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if frontmatter.readings.count %}
                <div class="col-12 col-xl-4 mt-4 mt-md-2 overflow-hidden">
                    <h4 class="py-2 border-bottom">Readings before you get started</h4>
                    <div class="small mb-3 pb-1 border-bottom">{% snippet "introduction-readings" %}</div>
                    {% for reading in frontmatter.readings.all %}
                        <div class="p-2 my-3 rounded-lg linked-comment">
                            <a class="text-decoration-none" target="_blank" href="{{ reading.url }}">
                                <i class="bi bi-link pr-1 text-muted"></i>{% if reading.title %}{{ reading.title | as_string | markdown | safe | striptags }}<!-- #285 include 'website/fragments/bootstrap-icon.html' with icon="arrow-up-right-circle" -->{% else %}Untitled{% endif %}
                            </a>
                            {% if reading.annotation %}<div class="small"><strong>Annotation:</strong> {{ reading.annotation | as_string | markdown | safe | striptags }}</div>{% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if frontmatter.projects.count %}
                <div class="col-12 col-xl-4 mt-4 mt-md-2 overflow-hidden">
                    <h4 class="py-2 border-bottom">Projects related to {{ workshop.name }}</h4>
                    <div class="small mb-3 pb-1 border-bottom">{% snippet "introduction-projects" %}</div>
                    {% for project in frontmatter.projects.all %}
                        <div class="p-2 my-3 rounded-lg linked-comment">
                            {% if project.url != None %}
                                <a class="text-decoration-none" target="_blank" href="{{ project.url }}">
                                    <i class="bi bi-link pr-1 text-muted"></i>{% if project.title %}{{ project.title | as_string | markdown | safe | striptags }}<!-- #285 include 'website/fragments/bootstrap-icon.html' with icon="arrow-up-right-circle" -->{% else %}Untitled{% endif %}
                                </a>
                            {% else %}
                                Untitled
                            {% endif %}
                            {% if project.annotation %}
                                <div class="small"><strong>Annotation:</strong> {{ project.annotation | as_string | markdown | safe | striptags }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        {% if current_authors %}
          <div class="row">
            <div class="col-12">
              <h3 class="mt-5 pt-4 pb-4 border-top-double border-bottom">Meet your instructor{% if current_authors.count > 1 %}s{% endif %}</h3>
            </div>
          {% for c in current_authors %}
                <div class="col-sm-9">
                    <h4 class="account-heading">{% if c.contributor.profile %}<a href="{% url 'learner:profile' username=c.contributor.profile.user.username %}">{% endif %}{{ c.contributor }}{% if c.contributor.profile %}</a>{% endif %}</h4>
                    <p class="text-secondary">{{ c.contributor.profile.user.email }}</p>
                    {% if c.contributor.profile.bio %}<p>{{ c.contributor.profile.bio | safe }}</p>{% endif %}
                    {% if c.contributor.profile.links.count %}
                      <p><strong class="mr-2">Personal links</strong>{% for link in c.contributor.profile.personal_links.all %}<a href="{{ link.url }}" class="badge bg-light text-dark mr-1" target="_blank">{{ link.label }}</a>{% endfor %}</p>
                      <p><strong class="mr-2">Projects I have worked on</strong>{% for link in c.contributor.profile.project_links.all %}<a href="{{ link.url }}" class="badge bg-light text-dark mr-1" target="_blank">{{ link.label }}</a>{% endfor %}</p>
                    {% endif %}
                </div>
                <div class="col-sm-3"><!--left col-->
                    <div class="text-center">
                        <img src="{{ c.contributor.profile.image.url }}" class="avatar img-circle img-thumbnail" alt="avatar">
                    </div>
                </div>
          {% endfor %}
          </div>
        {% endif %}

        {% if blurbs %}
          <div class="row">
            {% for blurb in blurbs %}
              <div class="col-12">
                <h4>{% if blurb.user.first_name and blurb.user.last_name %}{{ blurb.user.first_name }} {{ blurb.user.last_name }}'s{% endif %} Reflections on {{ workshop.name }}</h4>
                <p class="lead">{{ blurb.text | safe }}</p>
              </div>
            {% endfor %}
          </div>
        {% endif %}

        {% if frontmatter.resources.count %}
          <div class="row mt-5">

            <div class="col-12 pb-2">
              <h3 class="mt-5 pt-4 pb-4 border-top-double border-bottom">Before you start</h3>
              <div class="mt-4">
                {% snippet "introduction-before-you-start" %}
              </div>
              <hr />
            </div>

            <div class="col-12">
              {% if frontmatter.resources.count %}
              <h4 class="py-4 border-bottom">Resources</h4>
              {% snippet "introduction-resources" %}
                {% for resource in frontmatter.resources.all %}
                  {{ resource }}
                {% endfor %}
              {% endif %}
            </div>

          </div>
        {% endif %}

    </div>

    <div class="d-none d-lg-block col-lg-3 sidebar">
        {% include 'workshop/fragments/frontmatter/favorite-button.html' %}
        {% include 'workshop/fragments/frontmatter/dashboard.html' %}
        {% include 'workshop/fragments/frontmatter/get-started-button.html' %}

        {% if num_terms > 0 %}
            <div class="d-none d-lg-block">
                <h3 class="py-4 border-bottom">Glossary</h4>
                <p class="lead mt-2">These are the glossary terms that you will learn how to define in this workshop.</p>
                {% for term in all_terms %}
                    <a class="text-decoration-none shadow-sm d-inline-block p-2 m-2 rounded-lg text-dark" data-term="true" style="background-color: #ffc;" href="{% url 'glossary:term' slug=term.slug %}">{{ term }}</a>
                {% endfor %}
            </div>
        {% endif %}

    </div>
</div>


  {% if past_authors or current_reviewers or past_reviewers or current_editors or past_editors %}
    <div class="row my-5 bg-super-light rounded-lg">
      {% if past_authors %}
        <div class="col-12 col-lg-4">
          <div class="border-bottom py-1 my-3"><h4>Contributing Authors</h4></div>
          <div class="py-1 my-1"><h6>Past</h6></div>
          {% for c in past_authors %}
            {% include 'workshop/fragments/frontmatter/collaborator_row.html' %}
          {% endfor %}
        </div>
      {% endif %}

      {% if current_reviewers or past_reviewers %}
        <div class="col-12 col-lg-4">
          <div class="border-bottom py-1 my-3"><h4>Reviewers</h4></div>
          {% if current_reviewers %}
            <div class="py-1 my-1"><h6>Current</h6></div>
            {% for c in current_reviewers %}
              {% include 'workshop/fragments/frontmatter/collaborator_row.html' %}
            {% endfor %}
          {% endif %}
          {% if past_reviewers %}
            <div class="py-1 my-1"><h6>Past</h6></div>
            {% for c in past_reviewers %}
              {% include 'workshop/fragments/frontmatter/collaborator_row.html' %}
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}

      {% if current_editors or past_editors %}
        <div class="col-12 col-lg-4">
          <div class="border-bottom py-1 my-3"><h4>Editors</h4></div>
          {% if current_editors %}
            <div class="py-1 my-1"><h6>Current</h6></div>
            {% for c in current_editors %}
              {% include 'workshop/fragments/frontmatter/collaborator_row.html' %}
            {% endfor %}
          {% endif %}
          {% if past_editors %}
            <div class="py-1 my-1"><h6>Past</h6></div>
            {% for c in past_editors %}
              {% include 'workshop/fragments/frontmatter/collaborator_row.html' %}
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}

    </div>
  {% endif %}
{% endblock %}


{% block javascript %}
  <script>
    var additional_terms = ''
      {% for term in all_terms %}
        {% if forloop.counter > 3 %}
            additional_terms += `{% include 'glossary/fragments/postit.html' %}`;
        {% endif %}
      {% endfor %}
    more_terms_button = document.querySelector('a[data-target="#moreTerms"]')
    if (more_terms_button) {
      more_terms_button.addEventListener('click', () => {
        more_terms_button.ariaExpanded = true
        document.querySelector('#moreBtn').classList.add('d-none');
        document.querySelector('#moreBtn').classList.remove('d-flex');
        document.querySelector('#moreTerms').innerHTML += additional_terms;
      });
    }

    var triggerTabList = [].slice.call(document.querySelectorAll('#myTab a'))
    triggerTabList.forEach(function (triggerEl) {
      var tabTrigger = new bootstrap.Tab(triggerEl)

      triggerEl.addEventListener('click', function (event) {
        console.log('tab triggered', event);
        event.preventDefault()
        tabTrigger.show()
      })
    })

  </script>
  <script src="{% static 'workshop/js/navbar.js' %}" crossorigin="anonymous"></script>
  <script src="{% static 'workshop/js/favorite.js' %}" crossorigin="anonymous"></script>
{% endblock %}