{% extends 'base.html' %}
{% load markdownify static snippet %}


{% block extra_head_material %}
    <link rel="stylesheet" href="{% static 'website/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'glossary/css/postit.css' %}">
    <link rel="stylesheet" href="{% static 'workshop/css/frontmatter.css' %}">
{% endblock %}


{% block admin_edit %}
    <a class="text-decoration-none dropdown-item admin-link-django" target="_blank" href="{% url 'admin:index' %}">Django admin</a>
    <a class="text-decoration-none dropdown-item admin-link-edit" target="_blank" href="{% url 'admin:workshop_frontmatter_change' frontmatter.id  %}">Edit frontmatter</a>
    <a class="text-decoration-none dropdown-item admin-link-github" target="_blank" href="https://www.github.com/{{ workshop.parent_repo }}/blob/{{ workshop.parent_branch }}/frontmatter.md">See on GitHub</a>
{% endblock %}


{% block before_content %}
    {% if not request.user.is_authenticated %}
        <div class="w-100 py-5">
            <div class="alert alert-info" id="no-login">Note that you are not logged in. In order to save progress and interact with the workshops, you need to <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">create an account</a>.</div>
        </div>
    {% endif %}
{% endblock %}


{% block secondary_menu %}
    {% include 'workshop/fragments/secondary-menu.html' %}
{% endblock %}


{% block main %}

<div class="row">
    <div class="col-12 col-lg-9">
        {% if workshop.image %}
            <img src="/{{ workshop.image }}" class="img-fluid" alt="{{ workshop.name }}">
        {% else%}
            <h2>{{ workshop.name }}</h2>
        {% endif %}

        <div class="row mt-4 d-lg-none sidebar justify-content-center">
            <div class="col-6 col-md-4">
                {% include 'workshop/fragments/frontmatter/favorite-button.html' %}
            </div>
            <div class="col-6 col-md-4">
                {% include 'workshop/fragments/frontmatter/dashboard.html' with margin='m-0' %}
            </div>
            <div class="col-6">
                {% include 'workshop/fragments/frontmatter/get-started-button.html' with margin='m-0' %}
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12 lead">
                {{ workshop.frontmatter.abstract | markdown | safe }}
            </div>

        </div>

        <h3 class="mt-5 pt-4 pb-4 border-top-double border-bottom">Contexts</h3>
        <div class="lead mt-4">
            {% snippet "introduction-context" %}
        </div>

        <div class="row">
            {% if frontmatter.ethical_considerations.count %}
                <div class="col-12 col-xl-4 mt-4 mt-md-2 overflow-hidden">
                    <h4 class="py-2 border-bottom">Ethical considerations</h4>
                    <div class="small mb-3 pb-1 border-bottom">{% snippet "introduction-ethical-considerations" %}</div>
                    {% for label in frontmatter.ethical_considerations.all %}
                        {{ label | as_string | markdown | safe }}
                    {% endfor %}
                </div>
            {% endif %}

            {% if frontmatter.readings.count %}
                <div class="col-12 col-xl-4 mt-4 mt-md-2 overflow-hidden">
                    <h4 class="py-2 border-bottom">Readings before you get started</h4>
                    <div class="small mb-3 pb-1 border-bottom">{% snippet "introduction-readings" %}</div>
                    {% for reading in frontmatter.readings.all %}
                        <div class="p-2 my-3 rounded-lg linked-comment">
                            <a class="text-decoration-none" target="_blank" href="{{ reading.url }}">
                                {% if reading.title %}{{ reading.title | as_string | markdown | safe | striptags }}{% include 'website/fragments/bootstrap-icon.html' with icon="arrow-up-right-circle" %}{% else %}Untitled{% endif %}
                            </a>
                            {% if reading.annotation %}<div class="small"><strong>Annotation:</strong> {{ reading.annotation | as_string | markdown | safe | striptags }}</div>{% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if frontmatter.projects.count %}
                <div class="col-12 col-xl-4 mt-4 mt-md-2 overflow-hidden">
                    <h4 class="py-2 border-bottom">Projects related to {{ workshop.name }}</h4>
                    <div class="small mb-3 pb-1 border-bottom">{% snippet "introduction-projects" %}</div>
                    {% for project in frontmatter.projects.all %}
                        <div class="p-2 my-3 rounded-lg linked-comment">
                            {% if project.url != None %}
                                <a class="text-decoration-none" target="_blank" href="{{ project.url }}">
                                  {% if project.title %}{{ project.title | as_string | markdown | safe | striptags }}{% include 'website/fragments/bootstrap-icon.html' with icon="arrow-up-right-circle" %}{% else %}Untitled{% endif %}
                                </a>
                            {% else %}
                                Untitled
                            {% endif %}
                            {% if project.annotation %}
                                <div class="small"><strong>Annotation:</strong> {{ project.annotation | as_string | markdown | safe | striptags }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        {% if current_authors %}
          <div class="row">
            <div class="col-12">
              <h3 class="mt-5 pt-4 pb-4 border-top-double border-bottom">Meet your instructor{% if current_authors.count > 1 %}s{% endif %}</h3>
            </div>
          {% for c in current_authors %}
                <div class="col-sm-9">
                    <h4 class="account-heading">{% if c.contributor.profile %}<a href="{% url 'learner:profile' username=c.contributor.profile.user.username %}">{% endif %}{{ c.contributor }}{% if c.contributor.profile %}</a>{% endif %}</h4>
                    <p class="text-secondary">{{ c.contributor.profile.user.email }}</p>
                    {% if c.contributor.profile.bio %}<p>{{ c.contributor.profile.bio | safe }}</p>{% endif %}
                    {% if c.contributor.profile.links.count %}
                      <p><strong class="mr-2">Personal links</strong>{% for link in c.contributor.profile.personal_links.all %}<a href="{{ link.url }}" class="badge bg-light text-dark mr-1" target="_blank">{{ link.label }}</a>{% endfor %}</p>
                      <p><strong class="mr-2">Projects I have worked on</strong>{% for link in c.contributor.profile.project_links.all %}<a href="{{ link.url }}" class="badge bg-light text-dark mr-1" target="_blank">{{ link.label }}</a>{% endfor %}</p>
                    {% endif %}
                </div>
                <div class="col-sm-3"><!--left col-->
                    <div class="text-center">
                        <img src="{{ c.contributor.profile.image.url }}" class="avatar img-circle img-thumbnail" alt="avatar">
                    </div>
                </div>
          {% endfor %}
          </div>
        {% endif %}

        {% if blurbs %}
          <div class="row">
            {% for blurb in blurbs %}
              <div class="col-12">
                <h4>{% if blurb.user.first_name and blurb.user.last_name %}{{ blurb.user.first_name }} {{ blurb.user.last_name }}'s{% endif %} Reflections on {{ workshop.name }}</h4>
                <p class="lead">{{ blurb.text | safe }}</p>
              </div>
            {% endfor %}
          </div>
        {% endif %}

        {% if frontmatter.prerequisites.count or frontmatter.resources.count %}
          <div class="row mt-5">

            <div class="col-12 pb-2">
              <h3 class="mt-5 pt-4 pb-4 border-top-double border-bottom">Before you start</h3>
              <div class="mt-4">
                {% snippet "introduction-before-you-start" %}
              </div>
              <hr />
            </div>

            <div class="col-12 col-md-6">
              {% if frontmatter.prerequisites.count %}
              <h4 class="py-4 border-bottom">Prerequisites</h4>
              {% snippet "introduction-prerequisites" %}
                {% for prerequisite in frontmatter.prerequisites.all %}
                  {{ prerequisite }}
                {% endfor %}
              {% endif %}
            </div>

            <div class="col-12 col-md-6">
              {% if frontmatter.resources.count %}
              <h4 class="py-4 border-bottom">Resources</h4>
              {% snippet "introduction-resources" %}
                {% for resource in frontmatter.resources.all %}
                  {{ resource }}
                {% endfor %}
              {% endif %}
            </div>

          </div>
        {% endif %}



    </div>

    <div class="d-none d-lg-block col-lg-3 sidebar">
        {% include 'workshop/fragments/frontmatter/favorite-button.html' %}
        {% include 'workshop/fragments/frontmatter/dashboard.html' %}
        {% include 'workshop/fragments/frontmatter/get-started-button.html' %}

        {% if num_terms > 0 %}
            <div class="d-none d-lg-block">
                <h3 class="py-4 border-bottom">Glossary</h4>
                <p class="lead mt-2">These are the glossary terms that you will learn how to define in this workshop.</p>
                {% for term in all_terms %}
                    <a class="text-decoration-none shadow-sm d-inline-block p-2 m-2 rounded-lg text-dark" data-term="true" style="background-color: #ffc;" href="{% url 'glossary:term' slug=term.slug %}">{{ term }}</a>
                {% endfor %}
            </div>
        {% endif %}

    </div>
</div>


  {% if past_authors or current_reviewers or past_reviewers or current_editors or past_editors %}
    <div class="row my-3 bg-super-light rounded-lg">
      {% if past_authors %}
        <div class="col-12 col-lg-4">
          <div class="border-bottom py-1 my-3"><h4>Contributing Authors</h4></div>
          <div class="py-1 my-1"><h6>Past</h6></div>
          {% for c in past_authors %}
            {% include 'workshop/fragments/frontmatter/collaborator_row.html' %}
          {% endfor %}
        </div>
      {% endif %}

      {% if current_reviewers or past_reviewers %}
        <div class="col-12 col-lg-4">
          <div class="border-bottom py-1 my-3"><h4>Reviewers</h4></div>
          {% if current_reviewers %}
            <div class="py-1 my-1"><h6>Current</h6></div>
            {% for c in current_reviewers %}
              {% include 'workshop/fragments/frontmatter/collaborator_row.html' %}
            {% endfor %}
          {% endif %}
          {% if past_reviewers %}
            <div class="py-1 my-1"><h6>Past</h6></div>
            {% for c in past_reviewers %}
              {% include 'workshop/fragments/frontmatter/collaborator_row.html' %}
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}

      {% if current_editors or past_editors %}
        <div class="col-12 col-lg-4">
          <div class="border-bottom py-1 my-3"><h4>Editors</h4></div>
          {% if current_editors %}
            <div class="py-1 my-1"><h6>Current</h6></div>
            {% for c in current_editors %}
              {% include 'workshop/fragments/frontmatter/collaborator_row.html' %}
            {% endfor %}
          {% endif %}
          {% if past_editors %}
            <div class="py-1 my-1"><h6>Past</h6></div>
            {% for c in past_editors %}
              {% include 'workshop/fragments/frontmatter/collaborator_row.html' %}
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}

    </div>
  {% endif %}
{% endblock %}


{% block javascript %}
  <script>
    var additional_terms = ''
      {% for term in all_terms %}
        {% if forloop.counter > 3 %}
            additional_terms += `{% include 'glossary/fragments/postit.html' %}`;
        {% endif %}
      {% endfor %}
    more_terms_button = document.querySelector('a[data-target="#moreTerms"]')
    if (more_terms_button) {
      more_terms_button.addEventListener('click', () => {
        more_terms_button.ariaExpanded = true
        document.querySelector('#moreBtn').classList.add('d-none');
        document.querySelector('#moreBtn').classList.remove('d-flex');
        document.querySelector('#moreTerms').innerHTML += additional_terms;
      });
    }
  </script>
  <script src="{% static 'workshop/js/navbar.js' %}" crossorigin="anonymous"></script>
  <script src="{% static 'workshop/js/favorite.js' %}" crossorigin="anonymous"></script>
{% endblock %}