{% extends 'base.html' %}
{% load markdownify static snippet %}


{% block secondary_menu %}
    {% include 'workshop/fragments/secondary-menu.html' %}
{% endblock %}


{% block hero %}
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-left">
  <div id="hero">
    {% include 'workshop/fragments/praxis/hero.html' %}
    <div class="lead mt-4">
      {{ praxis.intro | as_string | markdown | safe }}
    </div>
  </div><!-- /hero -->
</div>
{% endblock %}


{% block admin_edit %}
  <a class="text-decoration-none dropdown-item admin-link-django" target="_blank" href="{% url 'admin:index' %}">Django admin</a>
  <a class="text-decoration-none dropdown-item admin-link-edit" target="_blank" href="{% url 'admin:workshop_praxis_change' praxis.id  %}">Edit frontmatter</a>
  <a class="text-decoration-none dropdown-item admin-link-github" target="_blank" href="https://www.github.com/{{ workshop.parent_repo }}/blob/{{ workshop.parent_branch }}/theory-to-practice.md">See on GitHub</a>
{% endblock %}


{% block main %}

<div class="row pt-5">

  {% if praxis.next_steps.count %}
    <div class="col-12 mt-5">
      <h3>Next Steps</h3>
      <hr />
      {% for step in praxis.next_steps.all %}
        <div class="lead mt-4">
          {{ step.label | markdown | safe }}
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if praxis.discussion_questions.count %}
    <div class="col-12 mt-5">
      <h3>Discussion Questions</h3>
      <hr />
      {% for question in praxis.discussion_questions.all %}
        <div class="lead mt-4">
          {{ question.label | markdown | safe }}
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if praxis.tutorials.count %}
  <div class="col-12 mt-5">
    <h3>Tutorials</h3>
    <div class="font-weight-bold">{% snippet 'introduction-tutorials' %}</div>
    <hr />
    <div class="lead mt-4">
      {% for tutorial in praxis.tutorials.all %}
        <div class="p-2 my-3 rounded-lg linked-comment">
          {% if tutorial.url %}
            <p class="font-weight-bold"><a href="{{ tutorial.url }}" class="stretched-link">{% if tutorial.title %}{{ tutorial.title | as_string | markdown | safe | striptags }}{% else %}Untitled{% endif %}</a></p>
          {% else %}
            <p class="font-weight-bold">Untitled</p>
          {% endif %}
          {% if tutorial.annotation %}
            <p class="small">{{ tutorial.annotation | stringformat:"s" | markdown | safe }}</p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  {% if praxis.further_readings.count %}
  <div class="col-12 mt-5">
    <h3>Further Readings</h3>
    <div class="font-weight-bold">{% snippet 'introduction-resources' %}</div>
    <hr />
    <div class="lead mt-4">
      {% for reading in praxis.further_readings.all %}
        <div class="p-2 my-3 rounded-lg linked-comment">
          {% if reading.url %}
            <p class="font-weight-bold"><a href="{{ reading.url }}" class="stretched-link">{% if reading.title %}{{ reading.title | as_string | markdown | safe | striptags }}{% else %}Untitled{% endif %}</a></p>
          {% else %}
            <p class="font-weight-bold">Untitled</p>
          {% endif %}
          {% if reading.annotation %}
            <p class="small">{{ reading.annotation | stringformat:"s" | markdown | safe }}</p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  {% if praxis.more_projects.count %}
  <div class="col-12 mt-5">
    <h3>More Projects</h3>
    <hr />
    <div class="lead mt-4">
      {% for project in praxis.more_projects.all %}
        <div class="p-2 my-3 rounded-lg linked-comment">
          {% if project.url %}
              <p class="font-weight-bold"><a href="{{ project.url }}" class="stretched-link">{% if project.title %}{{ project.title | as_string | markdown | safe | striptags }}{% else %}Untitled{% endif %}</a></p>
            {% else %}
              <p class="font-weight-bold">Untitled</p>
            {% endif %}
            {% if project.annotation %}
              <p class="small">{{ project.annotation | stringformat:"s" | markdown | safe }}</p>
            {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

</div>


{% endblock %}


{% block javascript %}
  <script src="{% static 'workshop/js/navbar.js' %}" crossorigin="anonymous"></script>
{% endblock %}