{% extends 'base.html' %}
{% load static %}

{% block admin_edit %}
  <a class="text-decoration-none dropdown-item admin-link-django" target="_blank" href="{% url 'admin:index' %}">Django admin</a>
  <a class="text-decoration-none dropdown-item admin-link-edit-user" target="_blank" href="{% url 'admin:auth_user_change' user.id %}">Edit user</a>
  <a class="text-decoration-none dropdown-item admin-link-edit-profile" target="_blank" href="{% url 'admin:learner_profile_change' user.profile.id %}">Edit profile</a>
{% endblock %}


{% block main %}
<div class="row py-4">
  {% if is_me or request.user.is_staff or user.is_staff %}
    <div class="col-3"><!--left col-->

        <div class="text-center">
            <img src="{{ user.profile.image.url }}" class="avatar img-circle img-thumbnail" alt="avatar">
        </div>
    </div>
    <div class="col-9">
        <h2 class="account-heading">{% if user.first_name and user.last_name %}{{ user.first_name }} {{ user.last_name }}{% else %}{{ user.username }}{% endif %}</h2>
        <p class="text-secondary">{% if user.profile.pronouns %}<em>{{ user.profile.pronouns }}</em> | {% endif %}{{ user.email }}{% if user.is_staff and user.email %} | {% elif user.is_staff %}Staff{% endif %}</p>
        <p class="lead" data-replace-internal-links="true">{{ user.profile.bio | safe }}</p>

        {% if user.profile.links.count %}
          {% if user.profile.personal_links.count %}<p><strong class="mr-2">Personal links</strong>{% for link in user.profile.personal_links.all %}<a href="{{ link.url }}" class="badge bg-light text-dark mr-1" target="_blank">{{ link.label }}</a>{% endfor %}</p>{% endif %}
          {% if user.profile.project_links.count %}<p><strong class="mr-2">Projects {{ user.first_name }} {{ user.last_name}} has worked on</strong>{% for link in user.profile.project_links.all %}<a href="{{ link.url }}" class="badge bg-light text-dark mr-1" target="_blank">{{ link.label }}</a>{% endfor %}</p>{% endif %}
        {% endif %}

        {% if user.profile.progress_set.count %}
          <h3 class="mt-3 border-top pt-4">Workshops</h3>
          <ul>
          {% for progress in user.profile.progress_set.all %}
            <li><a href="{% url 'workshop:frontmatter' slug=progress.workshop.slug %}">{{ progress.workshop }}</a> (go to <a href="{% url 'workshop:lesson' slug=progress.workshop.slug %}?page={{ progress.page }}">current page</a> in progress)</li>
          {% endfor %}
          </ul>
        {% endif %}

        {% if user.profile.favorites.count %}
          <h4 class="mt-2 pt-3">Favorites:</p>
          <ul>
            {% for w in user.profile.favorites.all %}
              <li><a href="{% url "workshop:frontmatter" slug=w.slug %}">{{ w.name }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if user.is_staff %}
          <h3 class="mt-3 border-top pt-4">Collaborator</h3>
          {% for x in contributor.get_collaboration_by_role %}
            {% if x.list.count > 0 %}
              <h5 class="mt-4">{{ x.group }}</h5>
              <ul>
              {% for y in x.list %}
                <li><a href="{% url 'workshop:frontmatter' y.frontmatter.workshop.slug %}">{{ y.frontmatter.workshop.name }}</a></li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if is_me %}
          <h4 class="mt-3 border-top pt-4">My settings</h4>
          <div style="height:50px;line-height:50px">
            {% if user.is_active %}
              <span class="px-2">
                <!-- #285 include 'website/fragments/bootstrap-icon.html' with icon="check-square" classes="mr-1 bi" --><i class="bi bi-check-square mr-1"></i><span class="pl-small">Active</span>
              </span>
            {% endif %}
            {% if user.is_staff %}
              <span class="px-2">
                <!-- #285 include 'website/fragments/bootstrap-icon.html' with icon="check-square" classes="mr-1 bi" --><i class="bi bi-check-square mr-1"></i><span class="pl-small">Staff</span>
              </span>
            {% endif %}
            {% if user.is_superuser %}
              <span class="px-2">
                <!-- #285 include 'website/fragments/bootstrap-icon.html' with icon="check-square" classes="mr-1 bi" --><i class="bi bi-check-square mr-1"></i><span class="pl-small">Superuser</span>
              </span>
            {% endif %}
            {% if is_instructor %}
              <span class="px-2">
                <!-- #285 include 'website/fragments/bootstrap-icon.html' with icon="check-square" classes="mr-1 bi" --><i class="bi bi-check-square mr-1"></i><span class="pl-small">Instructor</span>
              </span>
            {% endif %}
          </div>
          <p id="instructor">
            {% if not user.profile.instructor_requested and not is_instructor %}
              <a id="instructor-request" class="btn btn-light btn-sm" data-url="/learner/instructor-request/" data-p="instructor">Request Instructor status</a>
            {% elif user.profile.instructor_requested%}
              <a id="instructor-request" class="disabled btn btn-light btn-sm">Instructor status requested</a>
            {% endif %}
          </p>
        {% endif %}
    </div>
  {% else %}
    <div class="col-12">
      <p class="text-danger font-weight-bold">You cannot view other people's profiles.</p>
    </div>
  {% endif %}
</div>
{% endblock %}


{% block javascript %}
  <script src="{% static 'learner/js/instructor-request.js' %}" crossorigin="anonymous"></script>
{% endblock %}