<div class="ml-4 text-white small font-weight-bold">
    <span class="d-inline-block d-sm-none d-xxl-none font-weight-bold">Current viewport:  XS</span>
    <span class="d-none d-sm-inline-block d-md-none d-xxl-none font-weight-bold">Current viewport:SM</span>
    <span class="d-none d-md-inline-block d-lg-none d-xl-none d-xxl-none font-weight-bold">Current viewport: MD</span>
    <span class="d-none d-lg-inline-block d-xl-none d-xxl-none font-weight-bold">Current viewport: LG</span>
    <span class="d-none d-xl-inline-block d-xxl-none font-weight-bold">Current viewport: XL</span>
    <span class="d-none d-xxl-inline-block font-weight-bold">Current viewport: XXL</span>
</div>