{% extends 'website/base.html' %}
{% load markdownify admin_urls lessontags static crispy_forms_tags get_item glossary_navigation %}

{% block extra_head_material %}
  <link rel="stylesheet" href="{% static 'glossary/css/postit.css' %}">
  <link rel="stylesheet" href="{% static 'glossary/css/glossary.css' %}">
  <link rel="stylesheet" href="{% static 'glossary/css/glossary_nav.css' %}">
{% endblock %}

{% block main %}
    {% glossary_navigation %}

    <hr />

    <h2>Terms starting with {{ request.resolver_match.kwargs.slug }}</h2>
    <ul>
        {% for term in object_list %}
            <li><a href="#{{ term.slug }}" data-scroll="{{ term.slug }}">{{ term }}</a></li>
        {% endfor %}
    </ul>

    {% for term in object_list %}
        <h3 class="h4 pt-5 border-bottom pb-3 mb-4 term_header">{{ term.term }}<a class="ml-2 term_header_link" name="{{ term.slug }}" href="{% url 'glossary:term' term.slug %}">{% include 'website/snippets/bootstrap-icon.html' with icon="link-45deg" %}</a></h3>
        <p class="lead small">{{ term.explication | markdown | safe }}</p>
        {% if term.readings.count or term.tutorials.count %}
            <div class="row py-2">
                {% if term.readings.count %}
                    <div class="{% if term.readings.count and term.tutorials.count %}col-6{% else %}col-12{% endif %}">
                        <h4 class="h5">Readings</h4>
                        {% for reading in term.readings.all %}
                            <div class="p-2 my-3 rounded-lg linked-comment">
                                <a class="text-decoration-none" target="_blank" href="{{ reading.url }}">
                                    {{ reading.title }}{% include 'website/snippets/bootstrap-icon.html' with icon="arrow-up-right-circle" %}
                                </a>
                                {% if reading.annotation %}<div class="small"><strong>Annotation:</strong> {{ reading.annotation | as_string | markdown | safe | striptags }}</div>{% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if term.tutorials.count %}
                    <div class="{% if term.readings.count and term.tutorials.count %}col-6{% else %}col-12{% endif %}">
                        <h4 class="h5">Tutorials</h4>
                        {% for tutorial in term.tutorials.all %}
                            <div class="p-2 my-3 rounded-lg linked-comment">
                                <a class="text-decoration-none" target="_blank" href="{{ tutorial.url }}">
                                    {{ tutorial.label }}{% include 'website/snippets/bootstrap-icon.html' with icon="arrow-up-right-circle" %}
                                </a>
                                {% if tutorial.annotation %}<div class="small"><strong>Annotation:</strong> {{ tutorial.annotation | as_string | markdown | safe | striptags }}</div>{% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block javascript %}
    <script src="/static/glossary/js/scroll.js"></script>
{% endblock %}