{% extends 'base.html' %}

{% block admin_edit %}
  <a class="text-decoration-none dropdown-item admin-link-edit" target="_blank" href="{% url 'admin:insight_insight_change' insight.id %}">Edit</a>
{% endblock %}

{% block hero %}
<div class="pt-5 border-bottom">
    <img src="{{ insight.image.url }}" class="img-fluid mb-3" style="min-width:100%;" />
    <h2 class="py-2">{{ insight.title }}</h2>
    {% if insight.text %}
        <div class="lead"><p>{{ insight.text | safe }}</p></div>
    {% endif %}
</div>
{% endblock %}

{% block main %}
<section id="insight-sections">
    <div class="container-xxl">
        {% for section in insight.sections.all %}
            {% if section.title %}
                <h3 class="mt-5 mb-2">{{ section.title | safe }}</h3>
            {% endif %}
            <div class="lead" data-replace-internal-links="true">
                {{ section.text | safe }}
            </div>
            {% for os_section in section.os_specific_sections.all %}
                <h4>{{ os_section.operating_system }}</h4>
                {{ os_section.text | safe }}
            {% endfor %}
        {% endfor %}
    </div>
</section>
{% endblock %}