h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Titillium Web";
}

.bg-super-light {
    background-color: #f7f7f8 !important;
}

.on-hover-bg-light:hover {
    background-color: #ecf0f1 !important;
}

.nav-dark {
    background-color: #324144 !important;
}

.disabled:hover {
    cursor: not-allowed !important;
}

blockquote {
    padding-left: 1.5rem !important;
}

.linked-comment {
    cursor: default;
    position: relative; /* required for stretched-link */
    border-left: 0.5rem solid #ecf0f1 !important;
}

.linked-comment > p {
    margin: 0;
}

.dhri-hero {
    color: #d1d6d7 !important;
}

.dhri-hero:hover {
    color: #d1d6d7 !important;
}

.uppercase {
    text-transform: uppercase;
}

.lesson-text {
    font-size: calc(1rem + 0.3vw);
    /*font-size:1.2rem;*/
    line-height: 2rem;
}

.lesson-text img {
    max-width: 100% !important;
    border: 0.01rem solid #ecf0f1 !important;
}

.lesson-text code {
    color: black !important;
    padding-left: 0.15em;
    padding-right: 0.15em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin: 0;
    display: inline-block;
    /* background-color: rgba(255, 255, 0, 0.1) !important; */
}

.lesson-text h2 {
    margin-top: 1em;
    font-size: calc(1.325rem + 0.9vw);
}

.lesson-text h3 {
    margin-top: 1em;
    font-size: calc(1.3rem + 0.6vw);
}

.lesson-text h4 {
    margin-top: 1em;
    font-size: calc(1.275rem + 0.3vw);
}

.lesson-text h5 {
    margin-top: 1em;
    font-size: 1.25rem;
}

div .codehilite {
    background-color: rgba(17, 45, 45, 0.03);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

div .codehilite pre {
    margin: 0 !important;
}

.lesson-text kbd {
    background-color: rgba(17, 45, 45, 0.529);
}

body.zen > .zen-hideaway {
    display: none;
}

#zen {
    font-size: 0.8203125rem;
    line-height: 1.5;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#zen::before {
    content: url("data:image/svg+xml; utf8, <svg width='2em' height='2em' viewBox='0 0 16 16' class='pr-1 zen-bi bi bi-toggle-off' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z'/></svg>");
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    margin: 0px -37px;
}

body.zen #zen::before {
    content: url("data:image/svg+xml; utf8, <svg width='2em' height='2em' viewBox='0 0 16 16' class='pr-1 zen-bi bi bi-toggle-on' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 0 0-8 4 4 0 0 0 0 8z'/></svg>") !important;
}

.zen-bi {
    pointer-events: none;
}

.page-link {
    position: relative;
    display: block;
    color: #2c3e50 !important;
    text-decoration: none;
    background-color: #fff !important;
    border: 1px solid #dee2e6 !important;
}
.page-link:hover {
    z-index: 2;
    color: #000 !important;
    background-color: #e9ecef !important;
    border-color: #dee2e6 !important;
}
.page-link:focus {
    z-index: 3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #2c3e5021 !important;
}
.page-item:not(:first-child) .page-link {
    margin-left: -1px;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #2c3e50 !important;
    border-color: #2c3e50 !important;
}
.page-item.disabled .page-link {
    color: #939faa !important;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6 !important;
}
.page-link {
    padding: 0.375rem 0.75rem;
}
.page-item:first-child .page-link {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.pagination-lg .page-link {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
}
.pagination-lg .page-item:first-child .page-link {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}
.pagination-lg .page-item:last-child .page-link {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}
.pagination-sm .page-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}
.pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
}
.pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}
.page-link.current {
    font-weight: 900;
}

#website-wide-nav > p {
    pointer-events: none;
    padding: 0;
    margin: 0;
}

#website-wide-nav:hover {
    cursor: pointer;
}

#website-wide-nav a {
    text-decoration: none;
}

#workshop-navbar:hover {
    cursor: pointer;
}

@media (min-width: 992px) {
    #workshop-navbar:hover {
        cursor: default !important;
    }
}

.no-touch {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.preview-text > h1 {
    font-size: 1.9rem;
    font-weight: 800;
}
.preview-text > h2 {
    font-size: 1.7rem;
    font-weight: 800;
}
.preview-text > h3 {
    font-size: 1.5rem;
    font-weight: 700;
}
.preview-text > h4 {
    font-size: 1.3rem;
    font-weight: 700;
}
.preview-text > h5 {
    font-size: 1.2rem;
    font-weight: 600;
}

.pl-small {
    padding-left: 2px;
}

.bi-check-circle {
    height: 1em;
    line-height: 100%;
    width: 1em;
}

div#admin {
    padding-left: 5px;
    margin-bottom: 2em;
    background-color: rgba(0, 0, 0, 0.05);
}

.scrollable {
    text-overflow: clip;
    overflow: scroll;
}

#lesson-extra-content div.highlight {
    padding-top: 16px;
    padding-bottom: 2px;
    padding-left: 16px;
    margin-bottom: 16px;
    background-color: #f6f8fa;
    border-radius: 3px;
}

#left-menu-menubar {
    min-height: 450px;
}

#left-menu-wrapper {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s linear;
    overflow: scroll;
}

#left-menu-main {
    transition: 0.5s linear;
}

#left-menu-main.delayed {
    transition-delay: 1.5s !important;
}

#left-menu-main.not-delayed {
    transition-delay: 0s !important;
}

.nav-scroller {
    /* position: relative; */
    z-index: 2;
    height: auto;
    overflow-y: hidden; /* <—— interferes with popup, but turning back on here */
}

.dropdown-menu-special {
    margin: 0 !important;
    background-color: rgba(61, 84, 108, 0.95) !important;
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    border-radius: 0px !important;
    border-top: 0px !important;
    /*
        margin-top: 30px !important;
        margin-left: 30px !important;
    */
}
.dropdown-item {
    font-size: 1rem !important;
}
.dropdown-submenu {
    position: relative;
    font-size: 1rem !important;
}
.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 3px;
    top: 40%;
}
.dropdown-submenu:hover .dropdown-menu,
.dropdown-submenu:focus .dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute !important;
    margin-top: -30px !important;
    margin-left: -2px !important;
    left: 100%;
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
}
@media screen (max-width: 992px) {
    .dropdown-menu {
        /* width: 50%; */
        width: auto;
    }
    .dropdown-menu .dropdown-submenu {
        width: auto;
    }
}
div.dropdown-submenu .dropdown-toggle {
    pointer-events: none;
    /* cursor: pointer; */
}

div.dropdown-submenu {
    cursor: pointer;
}

.text-black {
    color: #212529 !important;
}

/* Admin links */

.admin-link-django {
    color: white;
}
.admin-link-edit {
    color: white;
}
.admin-link-github {
    color: white;
}
.admin-link-edit-user {
    color: white;
}
.admin-link-edit-profile {
    color: white;
}

.admin-link-django::before {
    content: url('data:image/svg+xml,<svg width="0.7em" height="0.7em" viewBox="0 0 16 16" class="bi bi-journal-richtext" fill="white" xmlns="http://www.w3.org/2000/svg"><path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/><path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/><path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm1.639-4.208l1.33.886 1.854-1.855a.25.25 0 0 1 .289-.047L11 4.75V7a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 7v-.5s1.54-1.274 1.639-1.208zM6.75 4.5a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5z"/></svg>');
    display: inline-block;
    margin-left: -15px;
    width: 15px;
}
.admin-link-edit::before {
    content: url('data:image/svg+xml,<svg width="0.7em" height="0.7em" viewBox="0 0 16 16" class="bi bi-pen" fill="white" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/></svg>');
    display: inline-block;
    margin-left: -15px;
    width: 15px;
}
.admin-link-github::before {
    content: url('data:image/svg+xml,<svg width="0.7em" height="0.7em" viewBox="0 0 16 16" class="bi bi-folder2-open" fill="white" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M1 3.5A1.5 1.5 0 0 1 2.5 2h2.764c.958 0 1.76.56 2.311 1.184C7.985 3.648 8.48 4 9 4h4.5A1.5 1.5 0 0 1 15 5.5v.64c.57.265.94.876.856 1.546l-.64 5.124A2.5 2.5 0 0 1 12.733 15H3.266a2.5 2.5 0 0 1-2.481-2.19l-.64-5.124A1.5 1.5 0 0 1 1 6.14V3.5zM2 6h12v-.5a.5.5 0 0 0-.5-.5H9c-.964 0-1.71-.629-2.174-1.154C6.374 3.334 5.82 3 5.264 3H2.5a.5.5 0 0 0-.5.5V6zm-.367 1a.5.5 0 0 0-.496.562l.64 5.124A1.5 1.5 0 0 0 3.266 14h9.468a1.5 1.5 0 0 0 1.489-1.314l.64-5.124A.5.5 0 0 0 14.367 7H1.633z"/></svg>');
    display: inline-block;
    margin-left: -15px;
    width: 15px;
}
.admin-link-edit-user::before {
    content: url('data:image/svg+xml,<svg width="0.7em" height="0.7em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="white" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/></svg>');
    display: inline-block;
    margin-left: -15px;
    width: 15px;
}
.admin-link-edit-profile::before {
    content: url('data:image/svg+xml,<svg width="0.7em" height="0.7em" viewBox="0 0 16 16" class="bi bi-person-square" fill="white" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/><path fill-rule="evenodd" d="M2 15v-1c0-1 1-4 6-4s6 3 6 4v1H2zm6-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/></svg>');
    display: inline-block;
    margin-left: -15px;
    width: 15px;
}

.workshop-button::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='0.7em' height='0.7em' viewBox='0 0 16 16'><path fill='none' stroke='rgba(255,255,255,.5)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/></svg>");
    transition: transform 0.35s ease;
    transform-origin: 0.3em 50%;
}
.workshop-button.collapsed::before {
    transform: rotate(0deg) !important;
}
.workshop-button:not(.collapsed)::before {
    transform: rotate(90deg) !important;
}
.workshop-button:not(.collapsed) {
    font-weight: 700;
    border-bottom: 1px #dddddd2b solid;
}

.navbar-toggler[data-target="#topNavbarToggleExternal"]:not([aria-expanded="true"])::before {
    width: 1.25em;
    line-height: 1.5;
    content: url('data:image/svg+xml,<svg style="stroke:white" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-bar-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6z"/></svg>');
}
.navbar-toggler[data-target="#topNavbarToggleExternal"]:not([aria-expanded="false"])::before {
    width: 1.25em;
    line-height: 1.5;
    content: url('data:image/svg+xml,<svg style="stroke:white" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-bar-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5zm-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z"/></svg>');
}

#meta-btn {
    font-size: 1rem;
}

.card {
    transition: all 0.3s ease;
}
.card-img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: all 0.3s ease;
    opacity: 1;
}
.card:hover .card-img,
.card:focus .card-img {
    opacity: 0.05;
}
.card:hover {
    -webkit-box-shadow: 0 1rem 3rem rgba(0,0,0,0.5) !important;
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.5) !important;
}

.card-img-overlay > h5,
.card-img-overlay > .btn-group,
.card-img-overlay > .w-75 {
    visibility: hidden;
}

.card-img-overlay:hover h5,
.card-img-overlay:hover .btn-group,
.card-img-overlay:hover .w-75 {
    visibility: visible;
}
.nav-scroller {
    /* cursor: pointer; */
}

.admin-menu-part:not(:empty) {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 0px;
    margin-bottom: 0.3em;
}
.admin-menu-part:empty {
    border-bottom: 1px solid #ddd;
    padding: 0px;
    margin: 0px 0px 7px 0px;
}

@media screen and (min-width: 1200px) {
    .border-xl-none {
        border: none !important;
    }
}

@media (max-width: 576px) {
    .jumbotron-heading {
        font-size: 4vw !important;
        padding-top: 1rem !important;
    }
    .jumbotron-text {
        font-size: 3vw !important;
    }
}

@media (min-width: 576px) {
    .jumbotron-heading {
        font-size: 2.5rem !important;
    }
    .jumbotron-text {
        font-size: 1.2rem !important;
    }
}

.funding-text {
    font-size: 0.9rem !important;
    color: #7b8a8b !important;
}

@media (max-width: 576px) {
    .funding-text {
        font-size: 2vh !important;
    }
}

.alpha-notice {
    cursor: default;
    font-size: 1rem !important;
    height: 35px !important;
    background-color: #dc3545 !important;
    color: #581118 !important;
}

@media (max-width: 576px) {
    .alpha-notice {
        font-size: 0.7rem !important;
        height: 50px !important;
        background-color: #35587c !important;
        color: #ecf0f1 !important;
    }
}

@media (max-width: 767.98px) {
    .avatar {
        max-height: 125px;
        max-width: 125px;
        /* trying cropping */
        object-fit: cover;
    }
}

@media (max-width: 576px) {
    nav:first-of-type {
        font-size: 80%;
    }
    #secondaryMenu {
        font-size: 80%;
    }
    #LessonDropdownMenu {
        font-size: 80%;
    }
    #frontmatterMenuButton {
        display: none;
    }
}

.card-title > p {
    margin: 0;
    padding: 0;
}