{% extends 'website/base.html' %}
{% load markdownify admin_urls lessontags static crispy_forms_tags %}

{% block leftmenu %}
    {% include 'insight/left-menu/content.html' %}
{% endblock %}

{% block secondary_menu %}
    <!-- #TODO -->
{% endblock %}

{% block admin_edit %}
  <a class="text-decoration-none dropdown-item admin-link-edit" target="_blank" href="{% url 'admin:insight_insight_change' insight.id %}">Edit</a>
{% endblock %}

{% block main %}
    <div class="row pt-4">
        <div class="col">
            <h2 class="py-2">{{ insight.title }}</h2>
            {% if insight.text %}
            <div class="lead pb-4 mb-4 border-bottom">
                    <p>{{ insight.text | safe }}</p>
            </div>
            {% endif %}
        </div>
    </div>
    {% for section in insight.sections.all %}
    <div class="row py-2 my-4">
        <div class="col-12">
            <h3>{% if section.title %}{{ section.title | safe }}{% endif %}</h3>
        </div>
        <div class="col-12">
            <div class="lead">{{ section.text | safe }}</div>
        </div>
        {% for os_section in section.os_specific_sections.all %}
            <div class="col-12">
                <h4>{{ os_section.operating_system }}</h4>
                {{ os_section.text | safe }}
            </div>
        {% endfor %}
    </div>
    {% endfor %}
{% endblock %}


{% block javascript %}

{% endblock %}