{% extends 'base.html' %}
{% load markdownify install_navigation %}

{% block secondary_menu %}
    {% install_navigation %}
{% endblock %}

{% block admin_edit %}
  <a class="text-decoration-none dropdown-item admin-link-edit" target="_blank" href="{% url 'admin:install_instruction_change' instruction.id %}">Edit</a>
{% endblock %}

{% block before_content %}

        {% if 'macintosh' in request.META.HTTP_USER_AGENT.lower and not 'mac' in instruction.software.operating_system.lower %}
            <div class="w-100 py-5">
                <div class="alert alert-info" id="no-login">
                    Note that you are viewing instructions for {{ instruction.software.operating_system }} but you are on a macOS computer. <strong><a href="{% url 'install:installation' slug=other_os_slug %}">Click here to visit the installation instructions for your computer.</a></strong>
                </div>
            </div>
        {% elif 'windows' in request.META.HTTP_USER_AGENT.lower and not 'windows' in instruction.software.operating_system.lower %}
            <div class="w-100 py-5">
                <div class="alert alert-info" id="no-login">
                    Note that you are viewing instructions for {{ instruction.software.operating_system }} but you are on a Windows computer. <strong><a href="{% url 'install:installation' slug=other_os_slug %}">Click here to visit the installation instructions for your computer.</a></strong>
                </div>
            </div>
        {% endif %}

{% endblock %}

{% block main %}
    <h2 class="py-2">How to install {{ instruction.software.software }} for {{ instruction.software.operating_system }}</h2>
    <div class="lead pb-4 mb-4 border-bottom">
        <p>{{ instruction.what | markdown | safe }}</p>
        <p>{{ instruction.why | markdown | safe }}</p>
    </div>
    {% for step in instruction.steps.all %}
    <div class="row py-2 my-4">
        <div class="col-12">
            <h3 class="mb-3">Step {{ step.order }}{% if step.header %}: {{ step.header | markdown | striptags | safe }}{% endif %}</h3>
        </div>
        {% if step.screenshots.count %}
            <div class="col-12 col-lg-7">
                <div class="lead">{{ step.text | safe }}</div>
            </div>
            <div class="col-12 col-lg-5">
                {% for screenshot in step.screenshots.all %}
                    <a style="cursor: pointer;" data-toggle="modal" data-target="#modal_{{ forloop.parentloop.counter }}"><img src="{{ screenshot.image.url }}" class="shadow shadow-sm border img-fluid mb-2" alt="{% if screenshot.alt_text == 'No alt text' %}{{ screenshot }}{% else %}{{ screenshot.alt_text }}{% endif %}"></a>
                    <div class="modal fade" id="modal_{{ forloop.parentloop.counter }}" tabindex="-1" aria-labelledby="modal_{{ forloop.parentloop.counter }}_label" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modal_{{ forloop.parentloop.counter }}_label">Screenshot</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body text-center">
                                    <img src="{{ screenshot.image.url }}" class="img-fluid" />
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="col-12">
                <div class="lead">{{ step.text | safe }}</div>
            </div>
        {% endif %}
    </div>
    {% endfor %}
{% endblock %}


{% block javascript %}
<script>
    var triggerTabList = [].slice.call(document.querySelectorAll('#leftmenu a'))
    triggerTabList.forEach(function (triggerEl) {
    var tabTrigger = new bootstrap.Tab(triggerEl)

    triggerEl.addEventListener('click', function (e) {
        e.preventDefault()
        tabTrigger.show()
    })
    })
</script>
{% endblock %}