{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Digital Humanities Research Institute - Curriculum Website</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'website/css/bootstrap-style.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/main.css' %}">
  </head>
  <body>

    {% include "website/navbar.html" %}
    {% if is_ie %}
      <div class="container py-4">
        <div class="alert alert-danger" role="alert">
          You are using Internet Explorer. This website does not support Internet Explorer and you will have trouble interacting with parts of it.
        </div>
      </div>
    {% else %}
      <div class="container py-4">
        <div class="alert alert-success" role="alert">
          You are not using Internet Explorer. You're all good to go.
        </div>
      </div>
    {% endif %}



    <div id="content" class="container mx-auto">
      {% block header %}{% endblock %}
      {% block hero %}{% endblock %}
      {% block main %}{% endblock %}
    </div>

    <div id="footer" class="container mx-auto">
      {% include 'website/footer.html' %}
    </div>

    <!-- bootstrap v5.0-alpha1 -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  </body>
</html>
