{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Digital Humanities Research Institute - Curriculum Website</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'website/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/bootstrap-style.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/icons.css' %}">

    {% block extra_head_material %}{% endblock %}

    <script type="text/javascript">
      // A CSRF token is required when making post requests in Django
      // To be used for making AJAX requests
      window.CSRF_TOKEN = "{{ csrf_token }}";
    </script>

  </head>
  <body>

    {% include "website/navbar.html" %}

    {% if 'debug' in request.GET %}
      {% if 'Trident' in request.META.HTTP_USER_AGENT %}
        <div class="container py-4 zen-hideaway">
          <div class="alert alert-danger" role="alert">
            You are using Internet Explorer. This website does not support Internet Explorer and you will have trouble interacting with parts of it.
            <p class="small">{{ user_agent }}</p>
            <p class="small">({{ is_ie }})</p>
            <p class="small">{{ request.META }}</p>
            <p class="small">{{ request.META.HTTP_USER_AGENT }}</p>
            <p class="small">{% if Trident in request.META.HTTP_USER_AGENT %}Yes%{% endif %}</p>
          </div>
        </div>
      {% else %}
        <div class="container py-4">
          <div class="alert alert-success" role="alert">
            You are not using Internet Explorer. You're all good to go.
            <p class="small"><strong>user_agent:</strong> {{ user_agent }}</p>
            <p class="small"><strong>is_ie:</strong> ({{ is_ie }})</p>
            <p class="small"><strong>META:</strong> {{ request.META }}</p>
            <p class="small"><strong>HTTP_USER_AGENT:</strong> {{ request.META.HTTP_USER_AGENT }}</p>
            <p class="small"><strong>Trident in request.META.HTTP_USER_AGENT:</strong> {% if 'Trident' in request.META.HTTP_USER_AGENT %}Yes{% else %}No{% endif %}</p>
          </div>
        </div>
      {% endif %}
    {% endif %}


    <div id="content" class="container mx-auto py-4">
      {% if request.user.is_authenticated and request.user.is_staff %}
        <div id="admin" class="zen-hideaway">
          <hr />
          <strong class="text-muted mr-4 small">Admin tools</strong>{% block admin_edit %}{% endblock %}
          <hr />
        </div>
      {% endif %}
      {% block header %}{% endblock %}
      {% block hero %}{% endblock %}
      {% if messages %}<div class="py-2" id="messages">{% for message in messages %}<div class="alert alert-{{ message.tags }}">{{ message }}</div>{% endfor %}</div>{% endif %}
      {% block main %}{% endblock %}
    </div>

    <div id="footer" class="container mx-auto">
      <footer class="pt-4 my-5 border-top zen-hideaway">
        {% include 'website/footer.html' %}
      </footer>
    </div>

    <!-- bootstrap v5.0-alpha1 -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="{% static 'website/js/sitewide.js' %}"></script>
    {% block javascript %}
    {% endblock %}
  </body>
</html>
