<div class="collapse zen-hideaway" id="navbarToggleExternalContent">
  <div class="navbar-dark bg-light p-4">
    <div class="container no-touch">
      {% include 'website/footer.html' %}
    </div>
  </div>
</div>
<nav class="navbar navbar-dark nav-dark zen-hideaway" id="website-wide-nav">
  <!--<div class="container">-->
    <p class="navbar-brand navbar-toggler border-0 no-touch" href="#" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <img src="/static/images/logo.png" width="50" height="50" alt="" loading="lazy" class="mr-2">
      <span class="d-none d-md-inline-block"><strong>Curriculum</strong> | Digital Humanities Research Institute</span>
      <span class="d-inline-block d-md-none"><strong>Curriculum</strong> | DH Research Institute</span>
    </p>
    <span class="text-light no-touch">
      {% if user.is_authenticated %}
        <a href="{% url 'learner:profile' user.username %}" id="meta-btn">{{ user.first_name }} {{ user.last_name }}</a> | <a href="{% url 'logout' %}" id="meta-btn">Log out</a>
      {% else %}
          <a href="{% url 'login' %}{% if not request.get_full_path == '/logout/' %}?next={{ request.get_full_path|urlencode }}{% endif %}" id="meta-btn">Login</a> | <a href="{% url 'register' %}" id="meta-btn">Register</a>
      {% endif %}
    </span>
  <!--</div>-->
</nav>