<div class="collapse zen-hideaway" id="navbarToggleExternalContent">
  <div class="navbar-dark bg-light p-4">
    <div class="container">
      {% include 'website/footer.html' %}
    </div>
  </div>
</div>
<nav class="navbar navbar-dark nav-dark zen-hideaway" id="website-wide-nav">
  <!--<div class="container">-->
    <a class="navbar-brand navbar-toggler border-0" href="#" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <img src="/static/images/logo.png" width="50" height="50" alt="" loading="lazy" class="mr-2">
      <span class="d-none d-md-inline-block"><strong>Curriculum</strong> | Digital Humanities Research Institute</span>
      <span class="d-inline-block d-md-none"><strong>Curriculum</strong> | DH Research Institute</span>
    </a>
  <!--</div>-->
</nav>