{% extends 'base.html' %}
{% load markdownify static %}

{% block extra_head_material %}
  <link rel="stylesheet" href="{% static 'glossary/css/postit.css' %}">
  <link rel="stylesheet" href="{% static 'lesson/css/pygment.css' %}">
  <link rel="stylesheet" href="{% static 'lesson/css/context.css' %}">
  <link rel="stylesheet" href="{% static 'lesson/css/evaluation.css' %}">
  <link rel="stylesheet" href="{% static 'website/css/github.css' %}">
  <script>
    var next = {% if page_obj.has_next %}{{ page_obj.next_page_number }}{% else %}0{% endif %}
    var prev = {% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% else %}0{% endif %}
  </script>
  <script src="{% static 'lesson/js/setupAnswer.js' %}" crossorigin="anonymous"></script>
  <style>
    .bg-extra-super-light {
    background-color: #3241441a !important;
  }
  .bg-extra-super-light-green {
    background-color: #18bc9b10 !important;
  }
  </style>
{% endblock extra_head_material %}


{% block secondary_menu %}
    {% include 'workshop/fragments/secondary-menu.html' %}
{% endblock %}


{% block admin_edit %}
  <a class="text-decoration-none dropdown-item admin-link-django" target="_blank" href="{% url 'admin:index' %}">Django admin</a>
  <a class="text-decoration-none dropdown-item admin-link-edit" target="_blank" href="{% url 'admin:lesson_lesson_change' lesson.id %}">Edit lesson</a>
  <a class="text-decoration-none dropdown-item admin-link-github" target="_blank" href="https://www.github.com/{{ workshop.parent_repo }}/blob/{{ workshop.parent_branch }}/lessons.md">See on GitHub</a>
{% endblock %}

{% block main %}
  {% include 'lesson/fragments/next-prev.html' %}
  <div class="row">
    <div class="markdown-body col-12 py-3" id="lesson-content">
      <h1>{{ lesson.order }}. {{ lesson.title }}</h1>
      <div class="lesson-text py-3">
        {{ lesson.text | safe }}
      </div>
    </div>
    {% include 'lesson/fragments/report-error.html' %}
    {% if lesson.terms.all.count or lesson.evaluations.count or lesson.challenge %}
  </div>
</div>
<section class="bg-extra-super-light shadow-sm" id="lesson-extra-content">
<div class="container-xxl px-3 py-3 px-md-5 py-md-5">
  <h2 class="mb-5 border-bottom border-dark pb-3">Challenges for lesson {{ lesson.order }}<h2>
  {% include 'lesson/fragments/evaluation.html' %}
</div>
</section>
<div class="container-xxl px-3 py-3 px-md-5 py-md-5">
  {% endif %}
  {% include 'lesson/fragments/pagination.html' %}
  {% include 'lesson/fragments/progress.html' %}
{% endblock %}




{% block javascript %}
<script src="{% static 'lesson/js/submitAnswer.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'lesson/js/link-search.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'lesson/js/zen.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'lesson/js/swipe.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'workshop/js/navbar.js' %}" crossorigin="anonymous"></script>
<!--
  <script src="{% static 'website/js/velocity.min.js' %}" crossorigin="anonymous"></script>
  <script src="{% static 'website/js/velocity.ui.js' %}" crossorigin="anonymous"></script>
-->
<script src="//cdn.jsdelivr.net/npm/velocity-animate@2.0/velocity.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/velocity-animate@2.0/velocity.ui.min.js"></script>

{% endblock %}