{% extends 'base.html' %}
{% load markdownify static %}

{% block extra_head_material %}
  <link rel="stylesheet" href="{% static 'glossary/css/postit.css' %}">
  <link rel="stylesheet" href="{% static 'lesson/css/pygment.css' %}">
  <link rel="stylesheet" href="{% static 'lesson/css/context.css' %}">
  <link rel="stylesheet" href="{% static 'lesson/css/evaluation.css' %}">
  <link rel="stylesheet" href="{% static 'website/css/github.css' %}">
  <script>
    var next = {% if page_obj.has_next %}{{ page_obj.next_page_number }}{% else %}0{% endif %}
    var prev = {% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% else %}0{% endif %}
    window.lesson_images = {
      {% for image in lesson.images.all %}'{{ image.name }}': '{{ image.url }}',{% endfor %}
    }
    console.info('Images found in lesson', window.lesson_images);
  </script>
  <script src="{% static 'lesson/js/setupAnswer.js' %}" crossorigin="anonymous"></script>
  <style>
    .bg-extra-super-light {
    background-color: #3241441a !important;
  }
  .bg-extra-super-light-green {
    background-color: #18bc9b10 !important;
  }
  </style>
{% endblock extra_head_material %}


{% block secondary_menu %}
    {% include 'workshop/fragments/secondary-menu.html' %}
{% endblock %}


{% block admin_edit %}
  <a class="text-decoration-none dropdown-item admin-link-django" target="_blank" href="{% url 'admin:index' %}">Django admin</a>
  <a class="text-decoration-none dropdown-item admin-link-edit" target="_blank" href="{% url 'admin:lesson_lesson_change' lesson.id %}">Edit lesson</a>
  <a class="text-decoration-none dropdown-item admin-link-github" target="_blank" href="https://www.github.com/{{ workshop.parent_repo }}/blob/{{ workshop.parent_branch }}/lessons.md">See on GitHub</a>
{% endblock %}

{% block main %}
  {% include 'lesson/fragments/next-prev.html' %}
  <div class="row" id="metaContent">
    <div class="modal fade" id="reachedEnd" role="alert" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content alert alert-success">
          <h3 class="mb-2 pb-2 border-bottom">You have reached the end of the lesson.</h3>
          <p class="mb-1">It's time to go to the <strong>Theory to Practice</strong> page. You can do so by:</p>
          <ul>
            <li><a href="{% url "workshop:praxis" slug=workshop.slug %}">Click here</a>.</li>
            <li><kbd>enter</kbd> on your keyboard.</li>
            <li>Manually click on "Theory to Practice" in the menu above.</li>
          </ul>
        </div>
      </div>
    </div>
    {% for img in lesson.images.all %}
      <div class="modal fade" id="modal_{{ img.name }}" tabindex="-1" aria-labelledby="modal_{{ img.name }}_label" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-xl">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="modal_{{ img.name }}_label">{% if img.alt %}{{ img.alt }}{% else %}Image {{ forloop.counter }} for {{ lesson.title }}{% endif %}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body text-center">
                      <p class="d-none">{{ img.url }}</p>
                      <img src="{{ img.url }}" class="img-fluid" />
                  </div>
              </div>
          </div>
      </div>
    {% endfor %}
  </div>
  <div class="row">
    <div class="markdown-body col-12 py-3" id="lesson-content">
      <h1>{{ lesson.order }}. {{ lesson.title }}</h1>
      <div class="lesson-text py-3">
        {{ lesson.text | safe }}
      </div>
    </div>
    {% include 'lesson/fragments/report-error.html' %}
    {% if lesson.terms.all.count or lesson.evaluations.count %}<!--  or lesson.challenge? -->
  </div>
</div>
<section class="bg-extra-super-light shadow-sm" id="lesson-extra-content">
<div class="container-xxl px-3 py-3 px-md-5 py-md-5" id="challenges">
  <h2 class="mb-5 border-bottom border-dark pb-3">Challenges for lesson {{ lesson.order }}<h2>
  {% include 'lesson/fragments/evaluation.html' %}
</div>
</section>
<div class="container-xxl px-3 py-3 px-md-5 py-md-5">
  {% endif %}
  {% include 'lesson/fragments/pagination.html' %}
  {% include 'lesson/fragments/progress.html' %}
{% endblock %}




{% block javascript %}
<script src="{% static 'lesson/js/submitAnswer.js' %}" crossorigin="anonymous"></script>
<script>
document.querySelectorAll("#lesson-content a").forEach((link) => {
    if (link.href.includes("#")) {
        if (link.href.split('#')[0] === document.location.href) {
            // found a link to the document itself... do nothing
        } else {
            // potentially an external file... link it up with a target=_blank
            link.target = '_blank';
        }
    } else {
        // external link... link it up with a target=_blank
        link.target = '_blank';
    }
});
{% for img in lesson.images.all %}
    var modal{{img.name|title }} = new bootstrap.Modal(document.getElementById('modal_{{ img.name }}'), {})
    console.info('Modal set up:', modal{{img.name|title}})
    
    if (document.querySelectorAll('img[src="{{ img.url }}"]').length == 2) {
        let imageElement = document.querySelectorAll('img[src="{{ img.url }}"]')[1];
        imageElement.classList.add('my-3')

        let modalLink = imageElement.parentElement;
        modalLink.removeAttribute('target');
        modalLink.dataset.bsToggle = 'modal'
        modalLink.dataset.bsTarget = '#modal_{{img.name }}';
        modalLink.href = '#modal_{{img.name }}';
    } else {
        console.error("Expected two images with the source URL set to `{{ img.url }}` here...")
    }
{% endfor %}

document.querySelectorAll('table').forEach(table=>{
    table.classList.add('table')
})


reachedEnd = new bootstrap.Modal(document.getElementById('reachedEnd'), {})

window.addEventListener("keydown", function (event) {
    if (event.defaultPrevented) {
      return; // Do nothing if the event was already processed
    }
    
    switch (event.key) {
        case "Right":
        case "ArrowRight":
            if (next == 0)
              reachedEnd.show()
            break;
        case "Enter":
          if (next == 0) window.location.href = '{% url "workshop:praxis" slug=workshop.slug %}'
    }
});
</script>
<script src="{% static 'lesson/js/zen.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'lesson/js/swipe.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'workshop/js/navbar.js' %}" crossorigin="anonymous"></script>
{% endblock %}