{% extends 'base.html' %}
{% load static markdownify snippet %}


{% block hero %}
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4"><a href="{% url 'resource:index' %}" class="text-decoration-none">Resource Library</a></h1>
    {% if not category %}
        <h2>Category not found</h2>
    {% else %}
        <h2>{{ category }}</h2>
    {% endif %}
    </div>
{% endblock %}

{% block secondary_menu %}{% include 'resource/fragments/secondary-menu.html' %}{% endblock %}


{% block main %}
<div class="row grid">
    {% if not category %}
    {% else %}
        {% if object_list.count >= 10 %}<!-- Only include if more than 8 objects -->{% include 'resource/fragments/pagination.html' %}{% endif %}
        {% for obj in object_list %}
            {% include 'resource/fragments/resource-card.html' %}
        {% endfor %}
    {% endif %}
    {% include 'resource/fragments/pagination.html' %}
</div>
{% endblock %}


{% block javascript %}
<script>
    var next = {% if page_obj.has_next %}{{ page_obj.next_page_number }}{% else %}0{% endif %}
    var prev = {% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% else %}0{% endif %}

    const go_next = function() {
        if (next != 0) { location.assign("?page=" + next); } else { console.error('no next page'); }
    }

    const go_prev = function() {
        if (prev != 0) { location.assign("?page=" + prev); } else { console.error('no prev page'); }
    }
    window.addEventListener("keydown", function (event) {
        if (event.defaultPrevented) {
        return; // Do nothing if the event was already processed
        }

        switch (event.key) {
            case "Left":
            case "ArrowLeft":
                //console.log('left');
                go_prev();
                break;
            case "Right":
            case "ArrowRight":
                //console.log('right');
                go_next();
                break;
        }
    });
</script>
{% endblock %}
