{% extends 'base.html' %}
{% load static markdownify snippet %}


{% block extra_head_material %}
    <link rel="stylesheet" href="{% static 'resource/css/resource.css' %}">
{% endblock %}

{% block hero %}
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4"><a href="{% url 'resource:index' %}" class="text-decoration-none">Resource Library</a></h1>
    {% if not category %}
        <h2>Category not found</h2>
    {% else %}
        <h2>{{ category }}</h2>
    {% endif %}
    </div>
{% endblock %}

{% block secondary_menu %}{% include 'resource/fragments/secondary-menu.html' %}{% endblock %}


{% block main %}
<div class="row grid">
    {% if not category %}
    {% else %}
        {% if object_list.count >= 10 %}<!-- Only include if more than 8 objects -->{% include 'resource/fragments/pagination.html' %}{% endif %}
        {% for obj in object_list %}
            {% include 'resource/fragments/resource-card.html' %}
        {% endfor %}
    {% endif %}
    {% include 'resource/fragments/pagination.html' %}
</div>
{% endblock %}


{% block javascript %}
    <script src="{% static 'resource/js/keyboard_nav.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'resource/js/fix_links.js' %}" crossorigin="anonymous"></script>
{% endblock %}