{% extends 'base.html' %}
{% load static markdownify snippet %}


{% block extra_head_material %}
    <link rel="stylesheet" href="{% static 'resource/css/resource.css' %}">
    <script>
        var next = {% if page_obj.has_next %}{{ page_obj.next_page_number }}{% else %}0{% endif %}
        var prev = {% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% else %}0{% endif %}
    </script>
{% endblock %}

{% block hero %}
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Resource Library</h1>
    {% snippet 'introduction-library' %}
    </div>
{% endblock %}

{% block secondary_menu %}{% include 'resource/fragments/secondary-menu.html' %}{% endblock %}

{% block main %}
<div class="container-xxl">
    {% if tutorials %}
        <h3 class="mt-4"><a class="text-decoration-none" href="{% url 'resource:category' category='tutorial' %}">Tutorials</a></h3>
        <div class="row">
            {% for obj in tutorials %}
                {% include 'resource/fragments/resource-card.html' with xl='col-xl-4' lg='col-lg-4' md='col-md-12' sm='col-sm-12' %}
            {% endfor %}
        </div>
        <div class="d-flex justify-content-end">
            <a href="{% url 'resource:category' category='tutorial' %}">See all...</a>
        </div>
    {% endif %}
    
    {% if projects %}
        <h3 class="mt-4"><a class="text-decoration-none" href="{% url 'resource:category' category='project' %}">Projects</a></h3>
        <div class="row">
            {% for obj in projects %}
                {% include 'resource/fragments/resource-card.html' with xl='col-xl-4' lg='col-lg-4' md='col-md-12' sm='col-sm-12' %}
            {% endfor %}
        </div>
        <div class="d-flex justify-content-end">
            <a href="{% url 'resource:category' category='project' %}">See all...</a>
        </div>
    {% endif %}
    
    {% if readings %}
        <h3 class="mt-4"><a class="text-decoration-none" href="{% url 'resource:category' category='reading' %}">Readings</a></h3>
        <div class="row">
            {% for obj in readings %}
                {% include 'resource/fragments/resource-card.html' with xl='col-xl-4' lg='col-lg-4' md='col-md-12' sm='col-sm-12' %}
            {% endfor %}
        </div>
        <div class="d-flex justify-content-end">
            <a href="{% url 'resource:category' category='reading' %}">See all...</a>
        </div>
    {% endif %}
    
    {% if cheat_sheets %}
        <h3 class="mt-4"><a class="text-decoration-none" href="{% url 'resource:category' category='cheatsheet' %}">Cheat Sheets</a></h3>
        <div class="row">
            {% for obj in cheat_sheets %}
                {% include 'resource/fragments/resource-card.html' with xl='col-xl-4' lg='col-lg-4' md='col-md-12' sm='col-sm-12' %}
            {% endfor %}
        </div>
        <div class="d-flex justify-content-end">
            <a href="{% url 'resource:category' category='cheatsheet' %}">See all...</a>
        </div>
        {% endif %}
</div>
{% endblock %}


{% block javascript %}
    <script src="{% static 'resource/js/fix_links.js' %}" crossorigin="anonymous"></script>
{% endblock %}