{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% include "website/fragments/head.html" %}
    <!-- Extra head material -->
    {% block extra_head_material %}{% endblock %}
  </head>
  <body>
    {% include "_main-navbar/simple.html" %}
    {% include "website/fragments/warnings/ie.html" %}

    <div id="content" class="container mx-auto py-2">
      {% include "website/fragments/messages.html" %}
      {% block main %}{% endblock %}
    </div>

    {% include "website/fragments/bootstrap.html" %}
    <script src="{% static 'website/js/sitewide.js' %}"></script>
    <!-- Page specific Javascript -->{% block javascript %}{% endblock %}
    {% include "website/fragments/instructor_requests_toaster.html" %}
  </body>
</html>