<div class="navbar p-0 ml-2">
    <div style="position: relative !important;">
        <a class="mr-0 mr-sm-3 text-white btn btn-sm dropdown-toggle" href="#" id="resourceCategories" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resource categories</a>
        <div class="dropdown-menu dropdown-menu-special shadow" aria-labelledby="resourceCategories">
            <ul class="navbar-nav mr-auto">
                {% for category, url in all_categories.items %}
                    <li><a class="dropdown-item text-white" href="{{ url }}">{{ category }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>