<li><div class="dropdown-submenu">
    <a class="dropdown-item text-white dropdown-toggle" data-bs-toggle="dropdown" href="#">
        {% if os.name == 'macos' %}macOS{% elif os.name == 'windows' %}Windows{% else %}{{ os.name }}{% endif %}
    </a>
    <div class="dropdown-menu dropdown-menu-special shadow-sm">
        {% for instruction in os.os_instructions.all %}
            <a class="dropdown-item text-white" href="{% url 'install:instructions' software_slug=instruction.software.slug os_slug=os.slug %}">
                {{ instruction.software.name }}
            </a>
        {% endfor %}
    </div>
</div></li>