{% extends 'website/base-micro.html' %}
{% load markdownify admin_urls lessontags static crispy_forms_tags %}


{% block main %}
<h1 class="border-bottom pb-4 mb-4">Lesson Feedback</h1>

<p>
<strong>Lesson</strong> {{ lesson.title }}<br />
<strong>Part of workshop</strong> {{ lesson.workshop.name }}
</p>

<form method="POST" action="{% url "feedback:lesson_popup" lesson.id %}?close={{ request.GET.close }}">{% csrf_token %}
    <fieldset class="form-group">
        {{ form | crispy }}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-success" type="submit">Submit feedback</button>
    </div>
</form>

{% endblock %}