{% load static %}

  <div class="container-fluid bg-light">
    <!-- NEH logo -->
    <div class="row py-3 justify-content-xs-left justify-content-sm-center">
      <div class="col-xs-12 col-sm-10 col-md-6 justify-content-center d-flex">
        <div class="row">
          <div class="col-12"><a href="http://www.neh.gov/" target="_blank"><img src="{% static 'website/images/logos/neh.png' %}" class="img-fluid" style="max-height: 100px !important;"></a></div>
        </div>
      </div>
    </div>
    <!-- CUNY logos -->
    <div class="row justify-content-around py-3 justify-content-xs-left justify-content-sm-center">
      <div class="col-xs-12 col-sm-10 col-md-5">
        <div class="row align-items-end justify-content-center">
          <div class="col-4 text-right">
            <a href="http://www.gc.cuny.edu/" target="_blank"><img src="{% static 'website/images/logos/gc.png' %}" class="img-fluid" style="max-height:200px !important;"></a>
          </div>
          <div class="col-7">
            <div class="row mb-4">
              <div class="col-12"><a href="https://gcdi.commons.gc.cuny.edu/" target="_blank"><img src="{% static 'website/images/logos/gcdi.png' %}" class="img-fluid" style="max-height:100px !important;"></a></div>
            </div>
            <div class="row">
              <div class="col-12"><a href="http://www.cuny.edu/" target="_blank"><img src="{% static 'website/images/logos/cuny.png' %}" class="img-fluid" style="max-height:100px !important;"></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- NEH language -->
    <div class="row justify-content-around py-3 justify-content-xs-left justify-content-sm-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-8 col-xl-8 text-dark">
        <p><small>The Digital Humanities Research Institute is funded through a generous grant from the National Endowment for the Humanities and with support from The Graduate Center's Provost's Office.</small></p>
      </div>
    </div>
  </div>